@charset 'utf-8';
* {
  margin: 0px;
  padding: 0px;
}
html,
ul {
  font-family: 'Hiragino Sans', 'メイリオ', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1080px;
  margin: 0 auto;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  color: #505050;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 1em;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
  }
}
// common
.pc {
  display: block;
}
.sp {
  display: none;
}
.fs-20 {
  font-size: 20px;
}
.wrapper {
  padding: 0 60px;
  margin: 0 auto;
}
.contents-wrapper {
  padding: 0 60px;
}
.btn {
  width: 250px;
  height: 55px;
  background-color: #505050;
  border: solid 1px #000;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Hiragino Sans', 'メイリオ', sans-serif;
  line-height: 1.72;
}
.txt-left {
  text-align: left;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
// header
header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #505050;
  letter-spacing: 0px;
  font-weight: 200;
  #header-title {
    margin: 15px 0;
    width: 174px;
    height: 20px;
    line-height: 20px;
  }
  nav {
    ul {
      display: flex;
      li {
        height: 50px;
        line-height: 50px;
        &:not(:last-of-type) {
          margin-right: 35px;
        }
      }
    }
  }
}
// top
#top {
  //   background-image: url('../images/PC/FV.png');
  background: url(../images/PC/FV.png) no-repeat center/contain;
  height: 500px;
  text-align: center;
  position: relative;
  p {
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    color: #505050;
    font-size: 40px;
    height: 40px;
    white-space: nowrap;
  }
}
// menu
#menu {
  text-align: center;
  h1 {
    margin: 58px 0 49px;
  }
  .menu-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    .menu-item {
      width: 300px;
      h2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px;
      }
      p {
        color: #505050;
        font-weight: 200;
        font-size: 15px;
        width: 300px;
        margin: 15px auto 48px;
        text-align: center;
      }
    }
  }
}
// about
#about {
  text-align: center;
  background-color: #0000000d;
  padding-bottom: 48px;
  h1 {
    margin: 48px 0;
  }
  .about-contents {
    display: flex;
    flex-direction: row-reverse;
    .about-item {
      h2 {
        font-size: 22px;
        font-weight: 400;
        span {
          display: block;
        }
      }
      p {
        font-size: 18px;
        font-weight: 200;
        color: #505050;
        width: 95%;
        span {
          display: block;
        }
      }
    }
  }
}
// footer
footer {
  background-color: #505050;
  height: 92px;
  color: #fff;
  p {
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    line-height: 92px;
  }
}

@media screen and (max-width: 1199px) {
  // common
  html {
    min-width: 375px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .wrapper {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .contents-wrapper {
    padding: 0 60px;
  }
  // header
  header {
    display: block;
    padding-left: 20px;
  }
  // top
  #top {
    background-image: url(../images/SP/FV-sp.png);
    p {
      white-space: normal;
      width: 312px;
      height: 95px;
      font-size: 35px;
      line-height: 1.7;
      margin: 0 auto;
    }
  }
  //   menu
  #menu {
    .contents-wrapper {
      padding: 0 30px;
      .menu-item {
        width: 315px;
        h2 {
          margin-top: 20px;
        }
        p {
          line-height: 1.6;
        }
      }
    }
  }
  // about
  #about {
    height: 785px;
    margin: 0 auto;
    .about-contents {
      display: block;
      .about-item {
        h2 {
          width: 315px;
        }
        img {
          width: 315px;
        }
      }
    }
  }
}
