@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
html,
ul {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #505050;
}
body {
  max-width: 1079px;
  margin: 0 auto;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  color: #505050;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
.full-size {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 1em;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    display: inline-block;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
  }
}
// common
.fs-20 {
  font-size: 20px;
}
.wrapper {
  padding: 0 60px;
  margin: 0 auto;
  @media screen and (max-width: 960px) {
    padding: 0 20%;
  }
  @media screen and (max-width: 800px) {
    padding: 0 15%;
  }
  @media screen and (max-width: 600px) {
    padding: 0 10%;
  }
}
.header-wrapper {
  padding: 0 65px 0 60px;
}
.contents-wrapper {
  padding: 0 60px;
  max-width: 1079px;
  margin: 0 auto;
  @media screen and(max-width:960px) {
    padding: 0 5%;
  }
}
.btn {
  width: 250px;
  height: 55px;
  background-color: #505050;
  border: solid 1px #000;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', sans-serif;
  line-height: 1.72;
}
.txt-left {
  text-align: left;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
// header
header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #505050;
  letter-spacing: 0px;
  font-weight: 200;
  #header-title {
    margin: 15px 0;
    width: 174px;
    height: 20px;
    line-height: 20px;
  }
  nav {
    ul {
      display: flex;
      li {
        height: 50px;
        line-height: 50px;
        &:not(:last-of-type) {
          margin-right: 35px;
        }
      }
    }
  }
}
// top
#top {
  background-image: url(../images/PC/FV.png);
  background-image: image-set(
    url(../images/PC/FV.png) 1x,
    url(../images//PC/FV@2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  position: relative;
  p {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    color: #505050;
    font-size: 40px;
    height: 40px;
    white-space: nowrap;
    line-height: 1.7;
  }
}
// menu
#menu {
  text-align: center;
  h1 {
    margin: 49px 0 44px;
  }
  .menu-contents {
    display: flex;
    column-gap: 30px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 53px;
    @media screen and (max-width: 960px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 48px;
    }
    .menu-item {
      @media screen and (max-width: 960px) {
        width: 100%;
        &:not(:first-of-type) {
          margin-top: 33px;
        }
      }
      width: 300px;
      h2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 25px;
      }
      p {
        color: #505050;
        font-weight: 200;
        font-size: 15px;
        width: 300px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.6;
      }
      img {
        width: 100%;
      }
    }
  }
}
// about
#about {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  // margin: 0 auto;
  padding-bottom: 48px;
  h1 {
    margin: 35px 0 42px;
  }
  .about-contents {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 39px;
    .about-item-text {
      width: 471px;
      h2 {
        font-size: 22px;
        font-weight: 400;
        span {
          display: block;
        }
      }
      p {
        font-size: 18px;
        font-weight: 200;
        color: #505050;
        line-height: 1.7;
        span {
          display: block;
        }
      }
    }
    .about-item-img {
      img {
        width: 100%;
      }
    }
  }
}
// footer
footer {
  background-color: #505050;
  height: 92px;
  color: #fff;
  p {
    text-align: center;
    font-weight: 200;
    line-height: 85px;
    font-size: 20px;
  }
}
@media screen and (max-width: 960px) {
  .pc {
    display: block;
  }
  #about {
    .about-contents {
      flex-direction: column;
      align-items: center;
      .about-item-img {
        width: 100%;
      }
      .about-item-text {
        width: 100%;
        h2 {
          margin-top: 20px;
        }
        p {
          margin-top: 38px;
        }
        .btn {
          margin-top: 27px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  // common
  html {
    min-width: 375px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  // common
  .header-wrapper {
    padding: 0 181px 0 20px;
  }
  .contents-wrapper {
    padding: 0 30px;
  }
  h1 {
    &::before {
      bottom: -12.5px;
    }
  }
  // header
  header {
    #header-title {
      margin: 17px 0 13px;
    }
  }
  // top
  #top {
    background: url(../images/SP/FV-sp.png);
    background: image-set(
      url(../images/SP/FV-sp.png) 1x,
      url(../images/SP/FV-sp@2x.png) 2x
    );
    height: 550px;
    p {
      top: 38px;
    }
  }
  #menu {
    h1 {
      margin: 46.5px 0 40px;
    }
    .menu-contents {
      row-gap: 33px;
      .menu-item {
        width: 315px;
        h2 {
          margin-top: 15px;
        }
        p {
          line-height: 1.7;
          margin-bottom: 0;
        }
        &:not(:first-of-type) {
          margin-top: 0px;
        }
      }
    }
  }
  #about {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    h1 {
      margin-top: 42.5px;
    }
    .about-contents {
      .about-item-text {
        width: 100%;
        h2 {
          margin-top: 22px;
          span {
            display: inline;
          }
        }
        p {
          line-height: 1.83;
          margin-top: 24px;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
  footer {
    p {
      font-size: 17px;
      line-height: 1.9;
      padding-top: 27px;
      letter-spacing: 0.5px;
    }
  }
}
