@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

html,
ul {
  font-family: 'Hiragino Sans', 'メイリオ', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1080px;
  margin: 0 auto;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  color: #505050;
}

.pc {
  display: block;
}

.tb {
  display: none;
}

.sp {
  display: none;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 1em;
}

h1::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 50px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.fs-20 {
  font-size: 20px;
}

.wrapper {
  padding: 0 60px;
  margin: 0 auto;
}

.contents-wrapper {
  padding: 0 60px;
}

.btn {
  width: 250px;
  height: 55px;
  background-color: #505050;
  border: solid 1px #000;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Hiragino Sans', 'メイリオ', sans-serif;
  line-height: 1.72;
}

.txt-left {
  text-align: left;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  color: #505050;
  letter-spacing: 0px;
  font-weight: 200;
}

header #header-title {
  margin: 15px 0;
  width: 174px;
  height: 20px;
  line-height: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  height: 50px;
  line-height: 50px;
}

header nav ul li:not(:last-of-type) {
  margin-right: 35px;
}

#top {
  background: url(../images/PC/FV.png) no-repeat center/cover;
  background: -webkit-image-set(url(../images/PC/FV.png) 1x, url(../images//PC/FV@2x.png) 2x) no-repeat center/cover;
  background: image-set(url(../images/PC/FV.png) 1x, url(../images//PC/FV@2x.png) 2x) no-repeat center/cover;
  height: 500px;
  text-align: center;
  position: relative;
}

#top p {
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 200;
  color: #505050;
  font-size: 40px;
  height: 40px;
  white-space: nowrap;
}

#menu {
  text-align: center;
}

#menu h1 {
  margin: 58px 0 49px;
}

#menu .menu-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#menu .menu-contents .menu-item {
  width: 300px;
}

#menu .menu-contents .menu-item h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}

#menu .menu-contents .menu-item p {
  color: #505050;
  font-weight: 200;
  font-size: 15px;
  width: 300px;
  margin: 15px auto 48px;
  text-align: center;
}

#about {
  text-align: center;
  background-color: #0000000d;
  margin: 0 auto;
  padding-bottom: 48px;
}

#about h1 {
  margin: 48px 0;
}

#about .about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#about .about-contents .about-item {
  width: 50%;
}

#about .about-contents .about-item img {
  width: 100%;
}

#about .about-contents .about-item h2 {
  font-size: 22px;
  font-weight: 400;
}

#about .about-contents .about-item h2 span {
  display: block;
}

#about .about-contents .about-item p {
  font-size: 18px;
  font-weight: 200;
  color: #505050;
}

#about .about-contents .about-item p span {
  display: block;
}

footer {
  background-color: #505050;
  height: 92px;
  color: #fff;
}

footer p {
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  line-height: 92px;
  font-size: 20px;
}

@media screen and (max-width: 920px) {
  #about .about-contents .about-item h2 span {
    display: inline;
  }
  #about .about-contents .about-item p span {
    display: inline;
  }
}

@media screen and (max-width: 670px) {
  html {
    min-width: 375px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .tb {
    display: block;
  }
  .wrapper {
    padding: 0 4%;
    margin: 0 auto;
  }
  .contents-wrapper {
    padding: 0 60px;
  }
  .flex-column {
    row-gap: 1rem;
  }
  .btn {
    margin: 0 auto;
  }
  #top p {
    white-space: normal;
    width: 313px;
    font-size: 35px;
    line-height: 1.7;
  }
  #menu .menu-contents .menu-item {
    width: 315px;
  }
  #menu .menu-contents .menu-item h2 {
    margin-top: 20px;
  }
  #menu .menu-contents .menu-item p {
    line-height: 1.6;
  }
  #menu .menu-contents .menu-item img {
    width: 100%;
  }
  #about {
    height: 785px;
  }
  #about .about-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .about-contents .about-item {
    width: 100%;
    margin: 0 auto;
  }
  #about .about-contents .about-item h2 {
    width: 100%;
  }
  #about .about-contents .about-item img {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .tb {
    display: none;
  }
  #top {
    background: imageset(url(../images/SP/FV-sp.png) 1x, url(../images/SP/FV-sp@2x.png));
  }
  #top p {
    top: 40px;
  }
  #menu .menu-contents .menu-item {
    width: 315px;
  }
  #about {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  footer p {
    font-size: 17px;
  }
}
/*# sourceMappingURL=style.css.map */