@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

html,
ul {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #505050;
}

body {
  margin: 0 auto;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  color: #505050;
}

.pc {
  display: block;
}

@media screen and (max-width: 670px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 670px) {
  .sp {
    display: block;
  }
}

h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 1em;
}

h1::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 50px;
  max-width: 100%;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

@media screen and (max-width: 375px) {
  h1::before {
    bottom: -12.5px;
  }
}

.fs-20 {
  font-size: 20px;
}

.wrapper {
  padding: 0 60px;
  margin: 0 auto;
  max-width: 1080px;
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding: 0 20%;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding: 0 15%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0 10%;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    padding: 0 30px;
  }
}

.header-wrapper {
  padding: 0 65px 0 60px;
  max-width: 1080px;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .header-wrapper {
    padding: 0 181px 0 20px;
    letter-spacing: 0.1px;
  }
}

.btn {
  width: 250px;
  max-width: 100%;
  height: 55px;
  background-color: #505050;
  border: solid 1px #000;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', sans-serif;
  line-height: 1.72;
}

.txt-left {
  text-align: left;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  color: #505050;
  letter-spacing: 0px;
  font-weight: 200;
}

header #header-title {
  margin: 15px 0;
  width: 174px;
  max-width: 100%;
  height: 20px;
  line-height: 20px;
}

@media screen and (max-width: 375px) {
  header #header-title {
    margin: 17px 0 13px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  height: 50px;
  line-height: 50px;
}

header nav ul li:not(:last-of-type) {
  margin-right: 35px;
}

#top {
  background-image: url(../images/PC/FV.png);
  background-image: -webkit-image-set(url(../images/PC/FV.png) 1x, url(../images//PC/FV@2x.png) 2x);
  background-image: image-set(url(../images/PC/FV.png) 1x, url(../images//PC/FV@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  position: relative;
}

#top p {
  position: absolute;
  top: 43px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 200;
  color: #505050;
  font-size: 40px;
  height: 40px;
  white-space: nowrap;
  line-height: 1.7;
}

@media screen and (max-width: 375px) {
  #top {
    background: url(../images/SP/FV-sp.png);
    background: -webkit-image-set(url(../images/SP/FV-sp.png) 1x, url(../images/SP/FV-sp@2x.png) 2x);
    background: image-set(url(../images/SP/FV-sp.png) 1x, url(../images/SP/FV-sp@2x.png) 2x);
    height: 550px;
  }
  #top p {
    top: 36px;
    font-size: 35px;
  }
}

#menu {
  text-align: center;
}

#menu h1 {
  margin: 49px 0 44px;
}

#menu .menu-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-bottom: 47px;
}

@media screen and (max-width: 960px) {
  #menu .menu-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 48px;
  }
}

#menu .menu-contents .menu-item {
  max-width: 300px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  #menu .menu-contents .menu-item {
    max-width: none;
    width: 100%;
  }
  #menu .menu-contents .menu-item:not(:first-of-type) {
    margin-top: 33px;
  }
}

#menu .menu-contents .menu-item h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
}

#menu .menu-contents .menu-item p {
  color: #505050;
  font-weight: 200;
  font-size: 15px;
  width: 100%;
  line-height: 1.6;
  margin-top: 5px;
}

#menu .menu-contents .menu-item img {
  width: 100%;
}

@media screen and (max-width: 375px) {
  #menu h1 {
    margin: 46.5px 0 40px;
  }
  #menu .menu-contents {
    row-gap: 28px;
  }
  #menu .menu-contents .menu-item {
    width: 100%;
    max-width: 315px;
  }
  #menu .menu-contents .menu-item h2 {
    margin-top: 16px;
  }
  #menu .menu-contents .menu-item p {
    margin-top: 4px;
    line-height: 1.7;
    margin-bottom: 0;
  }
  #menu .menu-contents .menu-item:not(:first-of-type) {
    margin-top: 0px;
  }
}

#about {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 48px;
}

#about h1 {
  margin: 35px 0 42px;
}

#about .about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 39px;
          column-gap: 39px;
}

#about .about-contents .about-item-text {
  width: 471px;
  max-width: 100%;
}

#about .about-contents .about-item-text h2 {
  margin-top: 15.5px;
  font-size: 22px;
  font-weight: 400;
}

#about .about-contents .about-item-text h2 span {
  display: block;
}

#about .about-contents .about-item-text p {
  margin-top: 23px;
  font-size: 18px;
  font-weight: 200;
  color: #505050;
  line-height: 1.8;
}

#about .about-contents .about-item-text p span {
  display: block;
}

#about .about-contents .about-item-text button {
  margin-top: 28px;
}

#about .about-contents .about-item-img img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  #about .about-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .about-contents .about-item-img {
    width: 100%;
  }
  #about .about-contents .about-item-text {
    width: 100%;
  }
  #about .about-contents .about-item-text h2 {
    margin-top: 20px;
  }
  #about .about-contents .about-item-text p {
    margin-top: 20px;
  }
  #about .about-contents .about-item-text .btn {
    margin-top: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #about {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  #about h1 {
    margin-top: 38.5px;
  }
  #about .about-contents .about-item-text {
    width: 100%;
  }
  #about .about-contents .about-item-text h2 {
    margin-top: 22px;
  }
  #about .about-contents .about-item-text h2 span {
    display: inline;
  }
  #about .about-contents .about-item-text p {
    line-height: 1.83;
    margin-top: 24px;
  }
  #about .about-contents .about-item-text .btn {
    width: 100%;
  }
}

footer {
  background-color: #505050;
  height: 92px;
  color: #fff;
}

footer p {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 39px;
  line-height: 1.25;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 375px) {
  footer p {
    font-size: 17px;
    line-height: 1.9;
    padding-top: 26px;
    letter-spacing: 0.3px;
  }
}
/*# sourceMappingURL=style.css.map */