@use "../../foundation/system" as *;
@use "../../foundation/variable" as v;

.u-font-size--18{
    font-size: rem(18);
}
.u-font--red{
    color: v.$red;
}
.u-font--white{
    color: #fff;
}
.u-font--bold{
    font-weight: bold;
}
.u-text--left{
    text-align-last: left;
}
.u-text--center{
    text-align: center;
}
.u-text--right{
    text-align: right;
}
