/* p-result
--------------------------- */
@use "./../../foundation/system" as *;
@use "./../../foundation/variable" as v;

#result-list{
    padding-top: 42px;
    padding-bottom: 195px;
    @include mq(){
        padding-top: 61px;
        padding-bottom: 211px;
    }
}

.result-list__fv-img{
    background-image: url(../img/SP/result/FV.png);
    background-image: image-set(
        url(../img/SP/result/FV.png) 1x,
        url(../img/SP/result/FV@2x.png) 2x
      );
    height: 300px;
    @include mq(){
        background-image: url(../img/PC/result/FV.png);
        background-image: image-set(
            url(../img/PC/result/FV.png) 1x,
            url(../img/PC/result/FV@2x.png) 2x
        );
        height: 200px;
    }
    background-position: center;
}
.result-list__message{
    @include l_height(25,60);
    @include mq(){
        @include l_height(25,60);
    }
}
.result-list__contents{
    margin-top: 50px;
    @include mq(){
        margin-top: 40px;
        display: grid;
        row-gap: 67px;
        column-gap: 106px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}
.result-list__card__label{
    @include l_height(15,25);
    width: 100px;
    height: 30px;
    @include mq(){
        @include l_height(15,25);
        width: 100px;
        height: 30px;
    }
}
.result-list__card__title{
    @include l_height(20,25);
    margin-top: 20px;
    @include mq(){
        margin-top: 22px;
    }
}
.result-list__card__date{
    @include l_height(18,32);
    text-align: right;
    margin-top: 10px;
    @include mq(){
        @include l_height(18,32);
        text-align: right;
        margin-top: 10px;
    }
}
.result-list__card{
    &:not(:first-of-type){
        margin-top: 41px;
        @include mq(){
            margin-top: 0;
        }
    }
}
.result-list__card__img{
    width: 100%;
    min-height: 236px;
    @include mq(lg){
        width: 387px;
        height: 273px;
    }
}
.result-list__card__img__adjust{
    width: 100%;
    height: 220px;
    @include mq(sm){
        height: auto;
    }
    @include mq(lg){
        width: 387px;
        height: 273px;
    }
}
.result-list__pagination{
    margin-top: 61px;
    @include mq(){
        margin-top: 65px;
    }
    &__inner{
        column-gap: 10px;
    }
    &__link{
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        padding: {
            top: 16px;
            bottom: 16px;
            right: 20px;
            left: 20px;
        }
        &:hover{
            background-color: #000;
            color: #fff;
        }
        &:active{
            background-color: #000;
            color: #fff;
        }
        &.active{
            background-color: #000;
            color: #fff;
        }
    }
    &__ellipsis{
        padding: {
            top: 16px;
            bottom: 16px;
            right: 6px;
            left: 6px;
        }
    }
}
// 詳細画面
#result_details-main{
    padding-top: 46px;
    @include mq(){
        padding-top: 70px;
    }
}
.result-details__main-card__label{
    width: 100px;
    height: 30px;
    @include l_height(15,25);
}
.result-details__main-card__img{
    @include mq(){
        max-width: 880px;
        height: 400px;
    }
}
.result_details__main-card__title{
    margin-top: 26px;
    @include l_height(20,30);
    @include mq(){
        margin-top: 43px;
        @include l_height(25,40);
    }
}
.result_details__main-card__date{
    margin-top: 8px;
    @include l_height(17,30);
    @include mq(){
        margin-top: 16px;
    }
}
.result-details__profile__container{
    @include mq(){
        margin-top: 57px;
        @include flex(start,flex-start);
        column-gap: 0;
    }
}
.result-details__profile__container-left{
    @include mq(){
        width: 50%;
    }
}
.result-details__profile__container-right{
    @include mq(){
        width: 50%;
    }
}
.result-detail__profile-table{
    margin-top: 23px;
    @include mq(){
        margin-top: 10px;
    }
    tr{
        th{
            border: 0.5px solid #707070;
            background-color: #E5E5E5;
            @include l_height(18,30);
            font-weight: bold;
            padding: {
                top: 4px;
                bottom: 4px;
                left: 10px;
                right: 10px;
            }
            width: 120px;
            @include mq(){
                width: 140px;
                padding: {
                    top: 3px;
                    bottom: 3px;
                    left: 20px;
                    right: 20px;
                }
            }
        }
        td{
            border: 0.5px solid #707070;
            padding: {
                top: 4px;
                bottom: 4px;
                left: 10px;
                right: 10px;
            }
            @include l_height(18,30);
            width: 215px;
            @include mq(){
                width: 260px;
                padding: {
                    top: 3px;
                    bottom: 3px;
                    left: 20px;
                    right: 20px;
                }
            }
        }
    }
}
.result-details__profile__desc{
    @include l_height(18,30);
    margin-top: 22px;
    @include mq(){
        margin-top: 0;
    }
}
.result_details__linear-nav{
    margin-top: 43px;
    @include mq(){
        margin-top: 64px;
    }
}
.result_details__linear-nav__list{
    @include mq(){
        column-gap: 200px;
    }
}
.result-details__linear-nav__card{
    @include mq(){
        align-items: flex-start;
    }
}
#result_details__rel-article{
    padding-top: 67px;
    padding-bottom: 196px;
    @include mq(){
        padding-top: 91px;
        padding-bottom: 157px;
    }
}
.result_details__rel-article__title{
    @include mq(){
        text-align: left;
        padding-left: 30px;
    }
}
.result-details__card-list{
    margin-top: 21px;
    @include mq(){
        margin-top: 30px;
    }
}
.result_details__rel-card{
    &:not(:first-of-type){
        margin-top: 20px;
        @include mq(){
            margin-top: 30px;
        }
    }
}
.result_details__card--flex{
    column-gap: 20px;
    @include mq(){
        column-gap: 30px;
    }
}
.result_details__card__label{
    background-color: #CB0000;
    width: 80px;
    height: 30px;
    @include mq(){
        width: 100px;
    }
}
.result_details__card__img{
    width: 160px;
    height: 113px;
    @include mq(){
        width: 260px;
        height: 183px;
    }
}
.result_details__card__title{
    @include l_height(17,28);
    margin-top: -5px;
    overflow: hidden;
    height: 3em;
    @include mq(){
        @include l_height(20,25);
        overflow: visible;
        height: auto;
        margin-top: -2px;
    }
}
.result_details__card__date{
    @include l_height(17,30);
    margin-top: 11px;
    @include mq(){
        margin-top: 13px;
        margin-left: 4px;
    }
}