/* p-search
--------------------------- */
@use "./../../foundation/system" as *;
@use "./../../foundation/variable" as v;

#search-list{
    padding-top: 33px;
    padding-bottom: 195px;
    @include mq(){
        padding-top: 64px;
        padding-bottom: 209px;
    }
}
.search-list__result-message{
    @include flex();
    @include l_height(18,30);
}
.search-list__contents{
    margin-top: 43px;
    @include mq(){
        margin-top: 44px;
    }
}
.search-list__card{
    &:not(:first-of-type){
        margin-top: 42px;
        @include mq(){
            margin-top: 69px;
        }
    }
}
.search-list__item{
    @include mq(){
        @include flex(start, flex-start);
        column-gap: 50px;
    }
}
.search-list__card__label{
    height: 32px;
    width: 90px;
    text-align: center;
    @include mq(){
        width: 80px;
    }
}
.search-list__card__img{
    height: 200px;
    @include mq(sm){
        height: auto;
    }
    @include mq(){
        width: 260px;
        height: 185px;
    }
}
.search-list__card__title{
    margin-top: 26px;
    @include l_height(20,30);
    @include mq(){
        margin-top: 0;
        @include l_height(20,25);
    }
}
.search-list__card__date{
    margin-top: 8px;
    text-align: right;
    @include l_height(17,30);
    @include mq(){
        margin-top: 0;
        text-align: left;
    }
}
.search-list__card__text{
    margin-top: 7px;
    @include l_height(16,30);
    @include mq(){
        margin-top: 9px;
        @include l_height(18,30);
    }
}
.search-list__pagination{
    margin-top: 61px;
    @include mq(){
        margin-top: 68px;
    }
    &__inner{
        column-gap: 10px;
    }
    &__link{
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        padding: {
            top: 16px;
            bottom: 16px;
            right: 20px;
            left: 20px;
        }
        &:hover{
            background-color: #000;
            color: #fff;
        }
        &:active{
            background-color: #000;
            color: #fff;
        }
    }
    &__ellipsis{
        padding: {
            top: 16px;
            bottom: 16px;
            right: 20px;
            left: 20px;
        }
    }
}