// フォント
// font-family: 'Kiwi Maru', serif;
// font-family: 'Roboto', sans-serif;

// common
html {
  font-size: 18px;
  font-family: 'Kiwi Maru', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e89b0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  padding: 0 4%;
  max-width: 1200px;
  margin: auto;
}
.full-img {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.bg-secondary {
  background-color: #d8e5e0;
}
.bg-primary {
  background-color: #e8ebee;
}
.contents {
  text-align: center;
  div {
    position: relative;
  }
  #spring {
    background-image: url(../images/spring.jpg);
  }
  #summer {
    background-image: url(../images/summer.jpg);
  }
  #automn {
    background-image: url(../images/automn.jpg);
  }
  #winter {
    background-image: url(../images/winter.jpg);
  }
  p {
    background-color: #fff;
    width: 60%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.grid-content {
  display: grid;
  gap: 2rem;
  margin: 5rem 0;
  .item {
    text-align: center;
    margin: auto;
    height: 10rem;
    p {
      text-align: center;
    }
    img {
      width: 7rem;
    }
  }
}
.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.flex-reverse {
  flex-direction: row-reverse;
}

.circle {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  text-align: center;
  p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  span {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 0.05rem;
    width: 60%;
    margin: 0 auto;
  }
}

.btn {
  padding: 1rem 2rem;
  background-color: #e1fcea;
  width: 50%;
  margin-top: 3rem;
  color: #000;
  &:hover {
    background-color: #d8f2d9;
    cursor: pointer;
  }
}

.html {
  background-color: #fa6b6b;
  color: #fff;
}

.css {
  background-color: #65c4ec;
  color: #fff;
}

.js {
  background-color: #ffd628;
  color: #000;
}

.radius-cut {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

#header-logo {
  width: 5rem;
  height: 4rem;
  margin-left: 3rem;
}

// top
#top {
  background-image: url('../images/top-full.jpg');
  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  h2 {
    position: absolute;
    top: 60%;
    left: 70%;
    font-size: 2rem;
    word-wrap: normal;
  }
}
// header
header {
  height: 3.2rem;
}
#logo {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  .nav-list {
    display: flex;
    height: 5rem;
    align-items: center;
    li {
      &:not(:first-of-type) {
        border-left: solid 1px #628a46;
      }
      a {
        padding: 1rem 1rem;
        background-color: #fff;
        opacity: 0.4;
        display: block;
        height: 100%;
        width: 100px;
        color: #36740b;
        text-align: center;
        &:hover {
          color: green;
          opacity: 1;
          transition: 0.5s;
        }
      }
    }
  }
}

#skills {
  min-height: 100vh;
  padding: 5rem 0;
  h1 {
    text-align: center;
  }
}

#works {
  min-height: 100vh;
  padding: 5rem 0;
  h1 {
    text-align: center;
  }
  .work-contents {
    padding: 5rem 0;
  }
  .item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    label {
      width: 40%;
      background-color: #c1d1d6;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      border-radius: 45%;
    }
    img {
      width: 500px;
    }
  }
}

#contact {
  min-height: 100vh;
  padding: 5rem 0;
  h1 {
    text-align: center;
  }
  form {
    input[type='text'],
    input[type='email'],
    textarea {
      background-color: rgba(237, 234, 230, 0.8);
      border: none;
      width: 100%;
      height: 2rem;
      padding: 1.8rem 1.5rem;
    }
    textarea {
      height: 20rem;
      resize: none;
    }
    div {
      text-align: center;
    }
  }
}

#about {
  padding-top: 1.85rem;
}

// footer
footer {
  background-color: #8c96a1;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  header {
    nav {
      left: 0;
      width: 100%;
      .nav-list {
        width: 100%;
        li {
          width: 100%;
          a {
            width: 100%;
            padding: 1rem 0;
          }
        }
      }
    }
  }
  #logo {
    width: 350px;
  }
  // top
  #top {
    h2 {
      top: 70%;
    }
  }
  // works
  #works {
    .item {
      display: block;
      img {
        width: 100%;
      }
      label {
        padding: 0 2rem;
      }
    }
  }
}
@media screen and (max-width: 656px) {
  // works
  #works {
    .item {
      display: block;
      img {
        width: 100%;
      }
      label {
        padding: 0 2rem;
      }
    }
  }
}
