@charset "UTF-8";
* {
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: '游ゴシック体', '游ゴシック', 'Yu Gothic', sans-serif;
  color: #505050;
}

.pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .pc {
    display: block;
  }
}

.no-pc {
  display: block;
}

@media screen and (min-width: 768px) {
  .no-pc {
    display: none;
  }
}

.nav-pc {
  display: none;
}

@media screen and (min-width: 840px) {
  .nav-pc {
    display: block;
  }
}

.nav-no-pc {
  display: block;
}

@media screen and (min-width: 840px) {
  .nav-no-pc {
    display: none;
  }
}

.primary-color {
  color: #0d96a0;
}

.bg-primary {
  background-color: rgba(13, 150, 160, 0.1);
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  max-width: 1080px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1080px) {
  .wrapper {
    padding: 0 98px;
    max-width: 1080px;
    margin: 0 auto;
  }
}

.header-wrapper {
  padding-left: 20px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .header-wrapper {
    padding-left: 98px;
    padding-right: 60px;
  }
}

.nav-btn {
  width: 71px;
  height: 50px;
  background-color: #0d96a0;
  position: relative;
}

.nav-btn span {
  margin: 0 auto;
  display: block;
  border-bottom: 4px solid #fff;
  width: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-btn span:nth-child(1) {
  top: 13px;
}

.nav-btn span:nth-child(2) {
  top: 25.09px;
}

.nav-btn span:nth-child(3) {
  top: 37.18px;
}

.nav-btn.active span:nth-child(1) {
  -webkit-transform: translateX(-50%) translateY(12px) rotate(-45deg);
          transform: translateX(-50%) translateY(12px) rotate(-45deg);
}

.nav-btn.active span:nth-child(2) {
  opacity: 0;
}

.nav-btn.active span:nth-child(3) {
  -webkit-transform: translateX(-50%) translateY(-12px) rotate(45deg);
          transform: translateX(-50%) translateY(-12px) rotate(45deg);
}

header .header-area {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-area #site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9.5px;
          column-gap: 9.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-area #site-title svg {
  height: 25px;
}

header .header-area #site-title p {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 1080px) {
  header .header-area #site-title p {
    margin-left: 1px;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  header .header-area #site-title p {
    font-weight: bold;
  }
}

header .header-area nav {
  font-size: 0.7rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  header .header-area nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-area nav ul li:not(:first-of-type) {
    margin-left: 10px;
  }
  header .header-area nav ul li a {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

header .nav-column-list {
  background-color: rgba(6, 184, 146, 0.1);
  z-index: 999;
}

header .nav-column-list li:not(:last-of-type) {
  border-bottom: 3px solid #fff;
}

header .nav-column-list li a {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: #0d96a0;
}

header .nav-column-list li a:focus {
  cursor: pointer;
}

#top {
  background-image: url(../images/top_sp.png);
  background-image: -webkit-image-set(url(../images/top_sp.png) 1x, url(../images/top_sp@2x.png) 2x);
  background-image: image-set(url(../images/top_sp.png) 1x, url(../images/top_sp@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 768px) {
  #top {
    background-image: url(../images/top.png);
    background-image: -webkit-image-set(url("../images/top.png") 1x, url("../images/top@2x.png") 2x);
    background-image: image-set(url("../images/top.png") 1x, url("../images/top@2x.png") 2x);
  }
}

@media screen and (min-width: 768px) {
  #top {
    background-size: auto;
    height: 500px;
  }
}

@media screen and (min-width: 1080px) {
  #top {
    background-size: cover;
  }
}

#top .top-message {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  padding: 16px 22px 20px 20px;
  width: 311px;
}

#top .top-message p {
  font-size: 2rem;
}

#top .top-message p span {
  display: block;
  font-size: 3rem;
  line-height: 1.2;
  padding-top: 9px;
}

#about #about-heading {
  padding-top: 44px;
  padding-bottom: 42px;
}

#about #about-heading h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.4;
}

#about #about-heading h1 span {
  font-size: 2.5rem;
  display: block;
}

#about #about-heading p {
  margin-top: 19px;
  font-weight: normal;
  position: relative;
  font-size: 1.6rem;
  display: block;
  line-height: 1.875;
}

#about #about-heading p img {
  position: absolute;
  right: 24px;
  bottom: 11px;
}

@media screen and (min-width: 768px) {
  #about #about-heading p span {
    font-size: 1.8rem;
  }
  #about #about-heading p img {
    right: 24px;
    bottom: 11px;
  }
}

@media screen and (min-width: 959px) {
  #about #about-heading {
    padding-top: 59px;
    padding-bottom: 60px;
  }
  #about #about-heading h1 {
    font-size: 3rem;
    line-height: 1.7;
  }
  #about #about-heading p {
    margin-top: 14px;
    text-align: center;
    font-size: 1.8rem;
    font-size: 1.8rem;
    line-height: 1.83;
    position: relative;
  }
  #about #about-heading p img {
    position: absolute;
    right: -11px;
    bottom: -14px;
    height: 80px;
  }
}

#about #about-contents {
  padding-top: 50px;
  padding-bottom: 42px;
}

@media screen and (min-width: 1080px) {
  #about #about-contents {
    padding-top: 72px;
    padding-bottom: 67.5px;
  }
}

#about #about-contents .content:not(:first-of-type) {
  margin-top: 43px;
}

@media screen and (min-width: 768px) {
  #about #about-contents .content:not(:first-of-type) {
    margin-top: 50px;
  }
}

@media screen and (min-width: 475px) {
  #about #about-contents .content {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  #about #about-contents .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about #about-contents .content:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #about #about-contents .content:not(:first-of-type) {
    margin-top: 49px;
  }
}

#about #about-contents .content .content-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

@media screen and (min-width: 475px) {
  #about #about-contents .content .content-image {
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  #about #about-contents .content .content-image {
    width: 50%;
    height: 247px;
    background-size: contain;
  }
}

#about #about-contents .content .content-text {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #about #about-contents .content .content-text {
    width: 45%;
  }
}

#about #about-contents .content .content-text h2 {
  text-align: center;
  margin-top: 26px;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #about #about-contents .content .content-text h2 {
    font-size: 2.2rem;
    line-height: 1.5;
    margin-top: 50px;
    text-align: left;
  }
}

#about #about-contents .content p {
  margin-top: 7px;
  font-size: 1.6rem;
  line-height: 1.875;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  #about #about-contents .content p {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-top: 18px;
  }
}

#about #about-contents #content-image01 {
  background-image: url(../images/about_01_sp.png);
  background-image: -webkit-image-set(url("../images/about_01_sp.png") 1x, url("../images/about_01_sp@2x.png") 2x);
  background-image: image-set(url("../images/about_01_sp.png") 1x, url("../images/about_01_sp@2x.png") 2x);
}

@media screen and (min-width: 768px) {
  #about #about-contents #content-image01 {
    background-image: url(../images/about_01.png);
    background-image: -webkit-image-set(url("../images/about_01.png") 1x, url("../images/about_01@2x.png") 2x);
    background-image: image-set(url("../images/about_01.png") 1x, url("../images/about_01@2x.png") 2x);
  }
}

#about #about-contents #content-image02 {
  background-image: url(../images/about_02_sp.png);
  background-image: -webkit-image-set(url("../images/about_02_sp.png") 1x, url("../images/about_02_sp@2x.png") 2x);
  background-image: image-set(url("../images/about_02_sp.png") 1x, url("../images/about_02_sp@2x.png") 2x);
}

@media screen and (min-width: 768px) {
  #about #about-contents #content-image02 {
    background-image: url(../images/about_02.png);
    background-image: -webkit-image-set(url("../images/about_02.png") 1x, url("../images/about_02@2x.png") 2x);
    background-image: image-set(url("../images/about_02.png") 1x, url("../images/about_02@2x.png") 2x);
  }
}

#about #about-contents #content-image03 {
  background-image: url(../images/about_03_sp.png);
  background-image: -webkit-image-set(url("../images/about_03_sp.png") 1x, url("../images/about_03_sp@2x.png") 2x);
  background-image: image-set(url("../images/about_03_sp.png") 1x, url("../images/about_03_sp@2x.png") 2x);
}

@media screen and (min-width: 768px) {
  #about #about-contents #content-image03 {
    background-image: url(../images/about_03.png);
    background-image: -webkit-image-set(url("../images/about_03.png") 1x, url("../images/about_03@2x.png") 2x);
    background-image: image-set(url("../images/about_03.png") 1x, url("../images/about_03@2x.png") 2x);
  }
}

.icon-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-top: 45px;
  padding-bottom: 44px;
}

.icon-heading span {
  text-align: center;
  font-size: 2.5rem;
}

#service {
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  #service {
    padding-top: 21px;
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 959px) {
  #service #service-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 959px) and (min-width: 1080px) {
  #service #service-contents {
    gap: 50px;
  }
}

#service #service-contents .service-content {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 475px) {
  #service #service-contents .service-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

#service #service-contents .service-content:not(:first-of-type) {
  margin-top: 43px;
}

@media screen and (min-width: 959px) {
  #service #service-contents .service-content:not(:first-of-type) {
    margin-top: 0px;
  }
}

#service #service-contents .service-content .service-content-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  background-size: cover;
}

@media screen and (min-width: 959px) {
  #service #service-contents .service-content .service-content-image {
    min-width: 260px;
    width: 100%;
    min-height: 200px;
    background-size: auto;
  }
}

#service #service-contents .service-content #service-content-image01 {
  background-image: url(../images/service_01_sp.png);
  background-image: -webkit-image-set(url("../images/service_01_sp.png") 1x, url("../images/service_01_sp@2x.png") 2x);
  background-image: image-set(url("../images/service_01_sp.png") 1x, url("../images/service_01_sp@2x.png") 2x);
}

@media screen and (min-width: 768px) {
  #service #service-contents .service-content #service-content-image01 {
    background-image: url(../images/service_01.png);
    background-image: -webkit-image-set(url("../images/service_01.png") 1x, url("../images/service_01@2x.png") 2x);
    background-image: image-set(url("../images/service_01.png") 1x, url("../images/service_01@2x.png") 2x);
  }
}

#service #service-contents .service-content #service-content-image02 {
  background-image: url(../images/service_02_sp.png);
  background-image: -webkit-image-set(url("../images/service_02_sp.png") 1x, url("../images/service_02_sp@2x.png") 2x);
  background-image: image-set(url("../images/service_02_sp.png") 1x, url("../images/service_02_sp@2x.png") 2x);
}

@media screen and (min-width: 768px) {
  #service #service-contents .service-content #service-content-image02 {
    background-image: url(../images/service_02.png);
    background-image: -webkit-image-set(url("../images/service_02.png") 1x, url("../images/service_02@2x.png") 2x);
    background-image: image-set(url("../images/service_02.png") 1x, url("../images/service_02@2x.png") 2x);
  }
}

#service #service-contents .service-content #service-content-image03 {
  background-image: url(../images/service_03_sp.png);
  background-image: -webkit-image-set(url("../images/service_03_sp.png") 1x, url("../images/service_03_sp@2x.png") 2x);
  background-image: image-set(url("../images/service_03_sp.png") 1x, url("../images/service_03_sp@2x.png") 2x);
}

@media screen and (min-width: 768px) {
  #service #service-contents .service-content #service-content-image03 {
    background-image: url(../images/service_03.png);
    background-image: -webkit-image-set(url("../images/service_03.png") 1x, url("../images/service_03@2x.png") 2x);
    background-image: image-set(url("../images/service_03.png") 1x, url("../images/service_03@2x.png") 2x);
  }
}

#service #service-contents .service-content h2 {
  font-size: 2rem;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  #service #service-contents .service-content h2 {
    margin-top: 15px;
  }
}

#service #service-contents .service-content p {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 8px;
  line-height: 1.875;
}

@media screen and (min-width: 768px) {
  #service #service-contents .service-content p {
    font-size: 1.7rem;
    margin-top: 5.7px;
    text-align: center;
    line-height: 1.75;
  }
}

#information {
  padding-bottom: 50px;
}

@media screen and (min-width: 1080px) {
  #information {
    padding-top: 16px;
    padding-bottom: 67px;
  }
}

#information .information-contents table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

#information .information-contents table tbody tr {
  border-color: #707070;
  border-style: solid;
  border-width: 1px 0;
  padding-top: 30px;
  padding-bottom: 34px;
}

@media screen and (min-width: 1080px) {
  #information .information-contents table tbody tr {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#information .information-contents table tbody tr td {
  display: block;
  line-height: 1.47;
  padding: 0 10px;
}

@media screen and (min-width: 1080px) {
  #information .information-contents table tbody tr td {
    display: inline-block;
    padding: 13.8px 0;
  }
}

#information .information-contents table tbody tr td:nth-child(1) {
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 25px;
}

@media screen and (min-width: 1080px) {
  #information .information-contents table tbody tr td:nth-child(1) {
    margin-top: 0;
    margin-left: 20px;
  }
}

#information .information-contents table tbody tr td:nth-child(2) {
  font-weight: bold;
  font-size: 2rem;
  color: #0d96a0;
  line-height: 1.55;
}

@media screen and (min-width: 1080px) {
  #information .information-contents table tbody tr td:nth-child(2) {
    margin-left: 29px;
    width: 180px;
  }
}

#information .information-contents table tbody tr td:nth-child(3) {
  font-size: 1.6rem;
  margin-bottom: 24.9px;
  line-height: 1.775;
}

@media screen and (min-width: 1080px) {
  #information .information-contents table tbody tr td:nth-child(3) {
    margin-left: 29px;
    margin-bottom: 0;
    font-size: 1.7rem;
  }
}

#access {
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  #access {
    padding-top: 22px;
    padding-bottom: 68px;
  }
}

@media screen and (min-width: 1080px) {
  #access .access-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

#access .access-contents .access-map {
  padding-top: 56.25%;
  position: relative;
  height: 221px;
}

@media screen and (min-width: 1080px) {
  #access .access-contents .access-map {
    width: 100%;
    max-width: 440px;
    height: 300px;
    padding-top: 0;
  }
}

#access .access-contents .access-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#access .access-contents .access-text {
  margin-top: 23px;
}

@media screen and (min-width: 1080px) {
  #access .access-contents .access-text {
    margin-top: 0;
  }
}

#access .access-contents .access-text h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text h2 {
    margin-top: -8px;
  }
}

#access .access-contents .access-text p {
  font-size: 1.6rem;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text p {
    margin-top: 15px;
  }
}

#access .access-contents .access-text p span {
  font-size: 2.5rem;
  color: #0d96a0;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text #address {
    margin-top: 21px;
  }
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text #phone-number {
    margin-top: 9px;
  }
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text #hospital-email {
    margin-top: 7px;
  }
}

#access .access-contents .access-text .open-info {
  border-top: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
  width: 100%;
  margin-top: 16px;
  padding-top: 15px;
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text .open-info {
    margin-top: 35px;
    margin-left: 4px;
    width: 390px;
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

#access .access-contents .access-text .open-info p {
  margin-top: 0;
}

#access .access-contents .access-text .open-info .closed-date {
  margin-top: 6px;
}

@media screen and (min-width: 768px) {
  #access .access-contents .access-text .open-info .closed-date {
    margin-top: 13px;
  }
}

#inquiry {
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  #inquiry {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

#inquiry p {
  font-size: 1.6rem;
  line-height: 1.875;
  margin-top: -8px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  #inquiry p {
    text-align: center;
    font-size: 1.7rem;
    margin-top: -29px;
    margin-left: 11px;
    line-height: 1.85;
  }
}

#inquiry form {
  margin-top: 39px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  #inquiry form {
    margin-top: 42px;
    margin-right: 0;
  }
}

#inquiry form .form-control:not(:first-of-type) {
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  #inquiry form .form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #inquiry form .form-control:not(:first-of-type) {
    margin-top: 30px;
  }
  #inquiry form .form-control:nth-child(3) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 23px;
  }
  #inquiry form .form-control:last-of-type {
    display: block;
    text-align: center;
  }
}

#inquiry form .form-control label {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}

@media screen and (min-width: 768px) {
  #inquiry form .form-control label {
    font-size: 2rem;
    margin-left: 2px;
  }
}

@media screen and (min-width: 768px) {
  #inquiry form .form-control #lblDetail {
    margin-top: 11px;
  }
}

#inquiry form .form-control input {
  margin-top: 7px;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
}

#inquiry form .form-control input[type='button'] {
  margin-top: 29px;
  background-color: #0d96a0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  #inquiry form .form-control input {
    margin-top: 0;
    height: 40px;
    max-width: 711px;
  }
  #inquiry form .form-control input[type='button'] {
    width: 200px;
    font-size: 2.5rem;
    height: 50px;
    margin-top: 20px;
  }
}

#inquiry form .form-control textarea {
  margin-top: 7px;
  background-color: #ffffff;
  width: 100%;
  height: 300px;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 1080px) {
  #inquiry form .form-control textarea {
    max-width: 711px;
  }
}

footer {
  background-color: #505050;
  height: 279px;
  padding-top: 45px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 64px;
  }
}

footer nav {
  padding-bottom: 26px;
  position: relative;
}

@media screen and (min-width: 475px) {
  footer nav {
    padding-left: 30px;
    padding-right: 30px;
  }
}

footer nav::after {
  content: '';
  position: absolute;
  background-color: #fff;
  left: 49.9%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  footer nav::after {
    bottom: 8px;
    max-width: 747px;
  }
}

footer nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav .nav-list li a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}

footer nav .nav-list li a:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer nav {
    padding-bottom: 31px;
  }
  footer nav .nav-list {
    -webkit-column-gap: 14px;
            column-gap: 14px;
  }
  footer nav .nav-list li a {
    font-size: 2rem;
    line-height: 1.65;
  }
}

footer p {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  footer p {
    font-size: 2rem;
    line-height: 1.65;
    margin-top: 14px;
    margin-left: 1px;
  }
}

footer .sns-icon-list {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .sns-icon-list img:nth-child(2) {
  margin-left: 12px;
}

footer .sns-icon-list img:nth-child(3) {
  margin-left: 14.2px;
}

footer .sns-icon-list img:nth-child(4) {
  margin-left: 10.6px;
}

@media screen and (min-width: 1080px) {
  footer .sns-icon-list {
    margin-top: 13px;
  }
}
/*# sourceMappingURL=style.css.map */