@import '_breakpoint';
@import '_mixin';
// common
* {
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: '游ゴシック体', '游ゴシック', 'Yu Gothic', sans-serif;
  color: #505050;
}
.pc {
  display: none;
  @include mq(lg) {
    display: block;
  }
}
.no-pc {
  display: block;
  @include mq(lg) {
    display: none;
  }
}
.primary-color {
  color: #0d96a0;
}
.full-size {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
.wrapper {
  padding: 0;
  @include mq(md) {
    padding: 0 20px;
  }
  @include mq(xl) {
    padding: 0 100px;
  }
}
.header-wrapper {
  padding: 0 20px;
  @include mq(lg) {
    padding: 0 99px 0 66px;
  }
}
.nav-btn {
  width: 71px;
  height: 50px;
  background-color: #0d96a0;
  position: relative;
  span {
    margin: 0 auto;
    display: block;
    border-bottom: 4px solid #fff;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    &:nth-child(1) {
      top: 13px;
    }
    &:nth-child(2) {
      top: 25.09px;
    }
    &:nth-child(3) {
      top: 37.18px;
    }
  }
  &.active {
    span:nth-child(1) {
      transform: translateX(-50%) translateY(12px) rotate(-45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateX(-50%) translateY(-12px) rotate(45deg);
    }
  }
}
// header
header {
  .header-area {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #site-title {
      display: flex;
      column-gap: 9.5px;
      align-items: center;
      p {
        font-weight: bold;
      }
    }
    nav {
      font-size: 0.7rem;
      font-weight: bold;
      ul {
        @include mq(lg) {
          display: flex;
          li {
            &:not(:first-of-type) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .nav-column-list {
    background-color: rgba(6, 184, 146, 0.1);
    z-index: 999;
    li {
      font-size: 2rem;
      text-align: center;
      color: #0d96a0;
      &:not(:last-of-type) {
        border-bottom: 3px solid #fff;
      }
    }
  }
}

// about
#about {
  padding-top: 44px;
  padding-bottom: 50px;
  h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.4;
    span {
      font-size: 2.5rem;
      display: block;
    }
  }
  p {
    margin-top: 19px;
    font-weight: normal;
    span {
      font-size: 1.6rem;
      display: block;
      line-height: 1.875;
    }
  }
}

@media screen and(max-width: 425px) {
  // .pc {
  //   display: none;
  // }
  // .no-pc {
  //   display: block;
  // }
  // header
  // .header-wrapper {
  //   padding: 0;
  // }
  header {
    #site-title {
      margin-left: 20px;
      svg {
        height: 25px;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  .wrapper {
    padding: 0 20px;
  }
  // top
  #top {
    background-image: url(../images/top_sp.png);
    background-image: image-set(
      url(../images/top_sp.png) 1x,
      url(../images/top_sp@2x.png) 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    position: relative;
    .top-message {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.7);
      font-weight: bold;
      padding: 16px 22px 20px 20px;
      width: 311px;
      p {
        font-size: 2rem;
        span {
          display: block;
          font-size: 3rem;
          line-height: 1.2;
          padding-top: 9px;
        }
      }
    }
  }
}
@media screen and(max-width: 375px) {
  // top
  #top {
    background-size: auto;
  }
}
