@use "../../foundation/system" as *;
@use "../../foundation/variable" as v;

.c-button {
  cursor: pointer;
}
.c-button--red {
  background-color: v.$red;
  color: #fff;
}
.c-button--small{
  width: 150px;
  padding: 14.2px 30px;
  font-size: rem(15);
}