/* c-detail
--------------------------- */
@use "./../../foundation/system" as *;
@use "./../../foundation/variable" as v;

.c-detail__introduction{
    @include l_height(16,30);
    margin-top: 24px;
}
.c-detail__main{
    margin-top: 38px;
    padding-bottom: 42px;
    border-bottom: 0.5px solid #000;
    h2{
        @include l_height(20,30);
        font-weight: bold;
    }
    p{
        margin-top: 18px;
        @include l_height(16,30);
    }
    img{
        margin-top: 42px;
    }
    ul{
        margin-top: 24px;
        li{
            @include l_height(16,30); 
            &::before{
                content: '・'
            }
        }
    }
}
.c-detail__summary{
    margin-top: 45px;
    h3{
        @include l_height(20,30);
        font-weight: bold;
        border-left: 3px solid #000;
        padding: {
            left: 6px;
        }
    }
}
.c-detail__quote{
    margin-top: 24px;
    background-color: #E8E8E8;
    position: relative;
    padding: {
        top:13px;
        right: 20px;
        bottom: 15px;
        left: 70px;
    }
    &__icon{
        position: absolute;
        top: 22px;
        left: 25px;
    }
    &__text{
        @include l_height(16,30);
        width: 100%;
    }
}
.c-detail__back-link{
    margin-top: 24px;
    border-bottom: 1px solid v.$red;
    color: v.$red;
    @include l_height(20,33);
    font-weight: bold;
}