/* c-nav
--------------------------- */
@use "./../../foundation/system" as *;
@use "./../../foundation/variable" as v;

.c-nav{
    font-size: rem(17);
    font-weight: bold;
}
.c-nav-list{
    @include flex();
    column-gap: 33px;
}
.c-sns-nav{
    width:100%;
}
.c-sns-inner{
    @include flex();
    @include mq(){
        @include flex(start);
        column-gap: 3.4px;
    }
}
.c-sns-link{

}