/* title
--------------------------- */
@use "./../../foundation/system" as *;
@use "./../../foundation/variable" as v;

.c-title{
    @include l_height(25,40);
    text-align: center;
    font-weight: bold;
    @include mq(){
        @include l_height(30,50);
    }
}
.c-sub-page-title{
    @include l_height(25,40);
    text-align: center;
    font-weight: bold;
    @include mq(){
        @include l_height(25,43);
    }
}
