@charset "UTF-8";
html {
  font-family: "游明朝体", "Yu Mincho", serif;
  font-size: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.pc {
  display: none;
}

@media screen and (min-width: 600px) {
  .pc {
    display: block;
  }
}

.no-pc {
  display: block;
}

@media screen and (min-width: 600px) {
  .no-pc {
    display: none;
  }
}

.header-nav-display {
  display: none;
}

@media screen and (min-width: 1080px) {
  .header-nav-display {
    display: block;
  }
}

.header-hamburger-display {
  display: block;
}

@media screen and (min-width: 1080px) {
  .header-hamburger-display {
    display: none;
  }
}

.font-white {
  color: #fff;
}

.font-black {
  color: #000;
}

.wm-vl {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.bg-light-green {
  background-color: rgba(77, 150, 0, 0.1);
}

.bg-green {
  background-color: #4d9600;
  color: #fff;
}

.section-title {
  color: #4d9600;
  font-size: 2.8rem;
  line-height: 1.1;
  letter-spacing: 0.35em;
  text-align: center;
  margin-left: 7px;
}

@media screen and (min-width: 1080px) {
  .section-title {
    margin-left: 10px;
  }
}

.section-sub-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.3em;
  margin-top: 4px;
  margin-left: 5px;
  line-height: 1.65;
}

.wrapper {
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 1080px;
    padding: 0 50px;
  }
}

.scrollanime {
  opacity: 0;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.to-top {
  display: none;
  position: fixed;
  right: 60px;
  bottom: 60px;
  background-color: #4d9600;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  width: 25px;
  height: 25px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}

header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  width: 100%;
}

header #site-title {
  margin-top: 12px;
  font-size: 2rem;
  line-height: 1.65;
}

@media screen and (min-width: 1080px) {
  header #site-title {
    margin-top: 24px;
  }
}

.header-wrapper {
  padding-left: 20px;
}

@media screen and (min-width: 900px) {
  .header-wrapper {
    padding-left: 5%;
    padding-right: 0;
  }
}

@media screen and (min-width: 1080px) {
  .header-wrapper {
    padding-left: 80px;
    padding-right: 94px;
  }
}

.header-menu {
  margin-top: 25.5px;
}

.header-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu nav ul li a {
  display: inline-block;
  font-size: 1.8rem;
  font-height: 1.83;
  margin-left: 31px;
  position: relative;
}

.header-menu nav ul li a::after {
  position: absolute;
  bottom: 2px;
  right: 0;
  content: '';
  height: 2px;
  width: 100%;
  background: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-menu nav ul li a:hover {
  opacity: .5;
}

.header-menu nav ul li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.hamburger {
  width: 72px;
  height: 50px;
  background-color: #fff;
  position: relative;
}

.hamburger span {
  display: block;
  width: 50%;
  height: 4px;
  background-color: #4d9600;
  position: absolute;
  top: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger span::before {
  display: block;
  width: 50%;
  height: 4px;
  background-color: #4d9600;
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 100%;
}

.hamburger span::after {
  display: block;
  width: 50%;
  height: 4px;
  background-color: #4d9600;
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 100%;
}

.hamburger.active span {
  background: transparent;
}

.hamburger.active span::before {
  -webkit-transform: translateX(-50%) translateY(12px) rotate(-45deg);
          transform: translateX(-50%) translateY(12px) rotate(-45deg);
}

.hamburger.active span::after {
  -webkit-transform: translateX(-50%) translateY(-12px) rotate(45deg);
          transform: translateX(-50%) translateY(-12px) rotate(45deg);
}

.hamburger-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 99;
}

.hamburger-menu nav {
  width: 100%;
  min-width: 300px;
}

.hamburger-menu nav ul li {
  background-color: #4d9600;
}

.hamburger-menu nav ul li:hover {
  background-color: #000;
}

.hamburger-menu nav ul li a {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.82;
}

.hamburger-bg.active {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

#top {
  position: relative;
}

.top-message {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50.7%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 2;
  letter-spacing: 0.3em;
  width: 100%;
  text-shadow: 5px 5px 5px #000;
  z-index: 0;
}

@media screen and (min-width: 600px) {
  .top-message {
    top: 41.3%;
    left: 50.7%;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.75;
  }
}

.slider div {
  background-position: top;
  background-size: cover;
  height: 601px;
}

@media screen and (min-width: 600px) {
  .slider div {
    height: 800px;
  }
}

.slider div .fv01 {
  background-image: url(../images/SP_FirstView-1.png);
  background-image: -webkit-image-set(url(../images/SP_FirstView-1.png) 1x, url(../images/SP_FirstView-1@2x.png) 2x);
  background-image: image-set(url(../images/SP_FirstView-1.png) 1x, url(../images/SP_FirstView-1@2x.png) 2x);
}

@media screen and (min-width: 600px) {
  .slider div .fv01 {
    background-image: url(../images/FirstView_01.png);
    background-image: -webkit-image-set(url(../images/FirstView_01.png) 1x, url(../images/FirstView_01@2x.png) 2x);
    background-image: image-set(url(../images/FirstView_01.png) 1x, url(../images/FirstView_01@2x.png) 2x);
  }
}

.slider div .fv02 {
  background-image: url(../images/SP_FirstView-2.png);
  background-image: -webkit-image-set(url(../images/SP_FirstView-2.png) 1x, url(../images/SP_FirstView-2@2x.png) 2x);
  background-image: image-set(url(../images/SP_FirstView-2.png) 1x, url(../images/SP_FirstView-2@2x.png) 2x);
}

@media screen and (min-width: 600px) {
  .slider div .fv02 {
    background-image: url(../images/FirstView02.png);
    background-image: -webkit-image-set(url(../images/FirstView02.png) 1x, url(../images/FirstView02@2x.png) 2x);
    background-image: image-set(url(../images/FirstView02.png) 1x, url(../images/FirstView02@2x.png) 2x);
  }
}

.slider div .fv03 {
  background-image: url(../images/SP_FirstView-3.png);
  background-image: -webkit-image-set(url(../images/SP_FirstView-3.png) 1x, url(../images/SP_FirstView-3@2x.png) 2x);
  background-image: image-set(url(../images/SP_FirstView-3.png) 1x, url(../images/SP_FirstView-3@2x.png) 2x);
}

@media screen and (min-width: 600px) {
  .slider div .fv03 {
    background-image: url(../images/FirstView-3.png);
    background-image: -webkit-image-set(url(../images/FirstView03.png) 1x, url(../images/FirstView03@2x.png) 2x);
    background-image: image-set(url(../images/FirstView03.png) 1x, url(../images/FirstView03@2x.png) 2x);
  }
}

#about {
  background-image: url(../images/SP_About.png);
  background-image: -webkit-image-set(url(../images/SP_About.png) 1x, url(../images/SP_About@2x.png) 2x);
  background-image: image-set(url(../images/SP_About.png) 1x, url(../images/SP_About@2x.png) 2x);
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 584px;
}

@media screen and (min-width: 600px) {
  #about {
    background-image: url(../images/About.png);
    background-image: -webkit-image-set(url(../images/About.png) 1x, url(../images/About@2x.png) 2x);
    background-image: image-set(url(../images/About.png) 1x, url(../images/About@2x.png) 2x);
  }
}

@media screen and (min-width: 600px) {
  #about {
    width: 100%;
    height: 500px;
    background-position: top;
  }
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 33px;
}

@media screen and (min-width: 600px) {
  .about-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    row-gap: 0;
    -webkit-column-gap: 41px;
            column-gap: 41px;
    padding-top: 112px;
    margin-left: 150px;
  }
}

.about-heading {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 600px) {
  .about-heading {
    margin-right: 10%;
    margin-top: 0;
    font-size: 3rem;
    line-height: 1.17;
    letter-spacing: 0.17em;
  }
}

@media screen and (min-width: 900px) {
  .about-heading {
    margin-right: 40%;
  }
}

@media screen and (min-width: 1080px) {
  .about-heading {
    margin-right: 385px;
  }
}

.about-message {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.65;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 600px) {
  .about-message {
    font-size: 1.8rem;
    line-height: 2.65;
    letter-spacing: 0.4em;
  }
}

#service {
  padding: 50px 0;
}

@media screen and (min-width: 1080px) {
  #service {
    padding: 77px 0;
    height: 1615px;
  }
}

.service {
  width: 100%;
}

.service:first-of-type {
  margin-top: 43px;
}

.service:not(:first-of-type) {
  margin-top: 50px;
}

.service-img-obj {
  width: 100%;
  height: auto;
}

.service-img-title {
  font-size: 1.6rem;
  margin-top: 5px;
}

.service-description {
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  margin-top: 6px;
}

.service-description-heading {
  margin-top: 10px;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 600;
}

.service-description-detail {
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 1.7625;
}

@media screen and (min-width: 1080px) {
  .service {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 29px;
    padding-top: 80px;
  }
  .service:first-of-type {
    margin-top: 0;
  }
  .service:not(:first-of-type) {
    margin-top: 53px;
  }
  .service-img {
    width: 100%;
    max-width: 600px;
    z-index: 1;
  }
  .service-img-obj {
    height: auto;
  }
  .service-img-title {
    font-size: 1.6rem;
    margin-top: 19px;
  }
  .service-description {
    position: absolute;
    top: 222px;
    left: 450px;
    width: 100%;
    max-width: 500px;
    padding-top: 34px;
    padding-bottom: 47px;
    padding-left: 220px;
    padding-right: 0;
    font-weight: 600;
  }
  .service-description-heading {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  .service-description-detail {
    font-size: 1.6rem;
    line-height: 1.5625;
    margin-top: 14px;
  }
  .service:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-right: 31px;
  }
  .service:nth-child(odd) .service-img-title {
    text-align: right;
  }
  .service:nth-child(odd) .service-description {
    left: 30px;
    padding-left: 40px;
    padding-right: 185px;
  }
}

#works {
  padding: 50px 0;
}

@media screen and (min-width: 1080px) {
  #works {
    padding-top: 80px;
    padding-bottom: 73px;
  }
}

.works {
  margin-top: 46px;
}

@media screen and (min-width: 900px) {
  .works {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    margin-top: 71px;
    padding: 0 30px;
  }
}

.work {
  cursor: pointer;
}

.work:not(:first-of-type) {
  margin-top: 29px;
}

@media screen and (min-width: 900px) {
  .work:not(:first-of-type) {
    margin-top: 0;
  }
}

.work-img {
  width: 100%;
}

.work-img-description {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 200;
}

@media screen and (min-width: 900px) {
  .work-img-description {
    margin-top: 20px;
  }
}

.modal-area {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 450px;
  height: 280px;
  padding: 15px;
  padding-bottom: 10px;
}

.modal-img-description {
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-cancel {
  position: absolute;
  top: -1px;
  right: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

#news {
  padding: 50px 0;
}

@media screen and (min-width: 1080px) {
  #news {
    padding: 80px 0;
  }
}

.news-content {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 45px;
}

@media screen and (min-width: 900px) {
  .news-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    padding: 0 30px;
    margin-top: 75px;
  }
}

.news-content .news-content-info {
  background-color: #fff;
}

@media screen and (min-width: 900px) {
  .news-content .news-content-info {
    width: 50%;
  }
}

.news-content .news-content-blog {
  background-color: #fff;
}

@media screen and (min-width: 900px) {
  .news-content .news-content-blog {
    width: 50%;
  }
}

.news-content .news-header {
  font-size: 2rem;
  padding-top: 14px;
  padding-bottom: 6px;
  padding-left: 20px;
}

.news-content .news-row {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 17px;
  border-bottom: 1px solid #55A500;
  width: 87%;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .news-content .news-row {
    width: 90.9%;
  }
}

.news-content .news-row .news-date {
  font-size: 1.6rem;
}

.news-content .news-row .news-text {
  font-size: 1.8rem;
  margin-left: 20px;
  line-height: 1.38;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 900px) {
  .news-content .news-row .news-text {
    margin-left: 69px;
  }
}

.news-content .first-row {
  padding-top: 27px;
}

.news-content .news-footer {
  position: relative;
  height: 74px;
}

.news-content .news-footer:hover {
  -webkit-animation: swing 1.5s infinite;
          animation: swing 1.5s infinite;
}

.news-content .news-footer p {
  position: absolute;
  bottom: 31px;
  right: 55px;
  color: #55A500;
  font-size: 2rem;
}

.news-content .news-footer img {
  position: absolute;
  bottom: 22px;
  right: 20px;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  90% {
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes swing {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  90% {
    -webkit-transform: 0;
            transform: 0;
  }
}

#company {
  padding: 50px 0;
}

@media screen and (min-width: 1080px) {
  #company {
    padding: 80px 0;
    height: 765px;
  }
}

.company-contents {
  margin-top: 44px;
}

@media screen and (min-width: 900px) {
  .company-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 70px;
    margin-left: 32px;
  }
}

.access-map {
  padding-top: 56.25%;
  min-width: 315px;
  min-height: 300px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .access-map {
    width: 600px;
    height: 400px;
  }
}

.access-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.company-description {
  margin-top: 20px;
  padding: 20px;
  padding-top: 11px;
}

@media screen and (min-width: 900px) {
  .company-description {
    position: absolute;
    top: 181px;
    left: 420px;
    width: 500px;
    padding-top: 23px;
    padding-bottom: 50px;
    padding-left: 220px;
    z-index: -1;
  }
}

.company-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.65;
}

@media screen and (min-width: 900px) {
  .company-name {
    margin-top: 20px;
  }
}

.company-address {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5625;
  margin-top: 8px;
}

@media screen and (min-width: 900px) {
  .company-address {
    margin-top: 20px;
  }
}

.company-phone-number {
  margin-top: 11px;
  font-size: 1.6rem;
}

@media screen and (min-width: 900px) {
  .company-phone-number {
    margin-top: 10px;
  }
}

.company-email {
  margin-top: 8px;
  font-size: 1.6rem;
  letter-spacing: 0.015em;
}

@media screen and (min-width: 900px) {
  .company-email {
    margin-top: 8px;
  }
}

.strong {
  font-size: 2.5rem;
  font-weight: 600;
}

#contact {
  padding: 50px 0;
}

@media screen and (min-width: 900px) {
  #contact {
    padding: 80px 0;
  }
}

.contact-description {
  margin-top: 33px;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.65;
}

@media screen and (min-width: 900px) {
  .contact-description {
    margin-top: 35px;
    padding-left: 91px;
    padding-right: 89px;
  }
}

.contact-form {
  font-size: 2rem;
}

@media screen and (min-width: 900px) {
  .contact-form {
    padding-left: 91px;
    padding-right: 89px;
  }
}

.contact-form .form-control {
  margin-top: 40px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 23px;
            column-gap: 23px;
  }
}

.contact-form .form-control-name {
  margin-top: 40px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-name {
    margin-top: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 11px;
            column-gap: 11px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-name label {
    margin-top: 7px;
  }
}

.contact-form .form-control-name input[type=text] {
  font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-name input[type=text] {
    padding: 12px 0;
    padding-left: 21px;
    letter-spacing: 0.1em;
  }
}

.contact-form .form-control-sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-sex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px;
  }
}

.contact-form .form-control-sex .radio-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-sex .radio-form {
    margin-left: 5px;
    margin-top: -4px;
  }
}

.contact-form .form-control-sex .radio-form label {
  font-size: 1.7rem;
  padding-left: 50px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-sex .radio-form label {
    width: 148px;
    line-height: 1.84;
  }
}

.contact-form .form-control-sex .radio-form label::before, .contact-form .form-control-sex .radio-form label::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-form .form-control-sex .radio-form label::before {
  background-color: #fff;
  border: 1px solid #808000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 10px;
}

.contact-form .form-control-sex .radio-form label::after {
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  width: 5px;
  height: 5px;
  left: 17px;
}

.contact-form .form-control-sex .radio-form input:checked + label::after {
  opacity: 1;
}

.contact-form .form-control-email {
  margin-top: 18px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 23px;
            column-gap: 23px;
    margin-top: 38px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-email label {
    letter-spacing: -0.05em;
  }
}

.contact-form .form-control-email input[type=email] {
  background-color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  font-size: 1.7rem;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-email input[type=email] {
    padding: 12px 0;
    padding-left: 17px;
    letter-spacing: 0.05em;
    width: 663px;
    font-size: 1.5rem;
    margin-top: -6px;
  }
}

.contact-form .form-control-type {
  margin-top: 36px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 23px;
            column-gap: 23px;
    margin-top: 54px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-form .form-control-type select {
  background-color: #fff;
  background-image: url(../images/triangle.svg);
  background-position: right 18px top 50%;
  padding: 13px 0;
  padding-left: 20px;
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-type select {
    padding: 19px 0;
    padding-left: 17px;
    width: 663px;
    font-size: 1.8rem;
    margin-top: -6px;
    background-position: right 21px top 50%;
  }
}

.contact-form .form-control-textarea {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-textarea {
    row-gap: 0;
  }
}

.contact-form .form-control-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 29px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-checkbox {
    margin-top: 44px;
  }
}

.contact-form .form-control-protection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 29px;
}

@media screen and (min-width: 900px) {
  .contact-form .form-control-protection {
    margin-top: 45px;
  }
}

.contact-form input[type=text] {
  background-color: #fff;
  width: 100%;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 17px;
}

@media screen and (min-width: 900px) {
  .contact-form input[type=text] {
    width: 630px;
  }
}

.contact-form input[type=radio] {
  margin-left: 30px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .contact-form label {
    display: inline-block;
    width: 158px;
  }
}

.contact-form .question-lbl {
  width: 100%;
  margin-bottom: 0;
}

.contact-form .protection-lbl {
  width: 100%;
}

.contact-form textarea {
  background-color: #fff;
  width: 100%;
  height: 200px;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 17px;
}

.contact-form input[type='checkbox'] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: none;
}

@media screen and (min-width: 900px) {
  .contact-form input[type='checkbox'] {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    margin-left: 4px;
  }
}

.contact-form .checkbox-form {
  font-size: 1.6rem;
  line-height: 1.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1px;
}

@media screen and (min-width: 900px) {
  .contact-form .checkbox-form {
    line-height: 2.0625;
  }
}

.contact-form .checkbox-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  row-gap: 10px;
  width: 50%;
}

@media screen and (min-width: 900px) {
  .contact-form .checkbox-control {
    width: 25%;
    -webkit-column-gap: 28px;
            column-gap: 28px;
    font-size: 1.8rem;
  }
}

.contact-form .checkbox-control label {
  margin-bottom: 0;
}

@media screen and (min-width: 900px) {
  .contact-form .checkbox-control label {
    margin-left: -6px;
    margin-top: -4px;
  }
}

.contact-form .personal-information-protection {
  background-color: #fff;
  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 50px;
  height: 310px;
  overflow-y: auto;
}

@media screen and (min-width: 900px) {
  .contact-form .personal-information-protection {
    padding-top: 35px;
    padding-left: 39px;
    padding-right: 52px;
    padding-right: 63px;
    letter-spacing: -0.05em;
  }
}

.contact-form .personal-information-protection h4 {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 1.7;
}

.contact-form .personal-information-protection h4:not(:first-of-type) {
  margin-top: 10px;
}

@media screen and (min-width: 900px) {
  .contact-form .personal-information-protection h4 {
    font-size: 1.9rem;
    line-height: 1.6;
  }
}

.contact-form .personal-information-protection p {
  font-size: 1.6rem;
  margin-top: 5px;
  line-height: 1.8;
}

@media screen and (min-width: 900px) {
  .contact-form .personal-information-protection p {
    font-size: 1.8rem;
    line-height: 1.9;
    font-size: 1.7rem;
  }
}

.btn {
  width: 100%;
  margin-top: 46px;
  padding: 10px 68px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 900px) {
  .btn {
    width: 100%;
    max-width: 300px;
    display: block;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
  }
}

.btn:hover {
  border: solid 1px #4d9600;
  background-color: #fff;
  color: #4d9600;
}

.visually-hidden {
  /* コンテンツの流れから切り離す */
  position: absolute;
  /* 誤ったコードに対処するための回避策 */
  white-space: nowrap;
  /* 可能な限り文字サイズを小さくするための処理
   * (スクリーンリーダー中には height と width が 0 のものを無視するため)
   */
  width: 1px;
  height: 1px;
  /* オーバーフローしているコンテンツを隠す */
  overflow: hidden;
  /* 要素サイズを変更しうるプロパティのリセット */
  border: 0;
  padding: 0;
  /* 要素のどの部分が表示されるかを定義するもの */
  /* 古いブラウザでは使用できない */
  clip: rect(0 0 0 0);
  /* 最近のブラウザ用
   * コンテンツを非表示にする設定  */
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
   * それに加えていくつか問題もあるそうです 
   * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
   */
  margin: -1px;
}

footer .footer-wrapper {
  padding: 0 7.4%;
  max-width: 1080px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  footer .footer-wrapper {
    padding-left: 141px;
    padding-right: 139px;
  }
}

footer .company-name {
  font-size: 2rem;
  font-weight: 200;
  width: 100%;
  margin-top: 43px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 900px) {
  footer .company-name {
    margin-top: 75px;
    padding-bottom: 31px;
  }
}

footer .footer-menu {
  font-size: 1.8rem;
  margin: 0 auto;
  margin-top: 25px;
}

@media screen and (min-width: 900px) {
  footer .footer-menu {
    margin-top: 25px;
    padding: 0 10px;
  }
}

footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 11px;
}

@media screen and (min-width: 900px) {
  footer .footer-menu ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .footer-menu ul li a {
  display: inline-block;
  width: 100%;
}

footer .footer-menu ul li a:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .sns-icon-list {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 33px;
}

@media screen and (min-width: 900px) {
  footer .sns-icon-list {
    margin-top: 40px;
  }
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.3;
}

@media screen and (min-width: 900px) {
  footer .footer-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

footer .copy-right {
  margin-top: 44px;
  font-size: 2rem;
  text-align: center;
  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 24px;
}

@media screen and (min-width: 900px) {
  footer .copy-right {
    padding: 0;
    padding-top: 31px;
    padding-bottom: 34px;
    margin-top: 71px;
  }
}
/*# sourceMappingURL=style.css.map */