@import '_breakpoint';
@import '_mixin';

$cGreen: #4d9600;

html {
  font-family: 'YuMincho', 'Yu Mincho', serif;
  font-size: 10px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.no-pc {
  display: block;
  @include mq(md) {
    display: none;
  }
}
.header-nav-display{
  display: none;
  @include mq(xl){
    display: block;
  }
}
.header-hamburger-display{
  display:block;
  @include mq(xl){
    display: none;
  }
}
.font-white{
  color: #fff;
}
.font-black{
  color: #000;
}
.wm-vl{
  writing-mode: vertical-rl;
}
.bg-primary{
  background-color: rgba(77, 150, 0, .1);
}
// header
header {
  position:fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width:100%;
  #site-title {
    margin-top: 12px;
    font-size: 2rem;
    line-height: 1.65;
    @include mq(xl){
      margin-top: 24px;
    }
  }
}
.header-wrapper{
  padding-left:20px;
  @include mq(ll){
    padding: {
      left:5%;
      right:0;
    } 
  }
  @include mq(xl){
    padding : {
      left: 80px;
      right:105px;
    }
  }
}
.header-menu{
  margin-top: 25.5px;
  nav{
    ul{
      display: flex;
      li{
        a{
          display: inline-block;
          font: {
            size: 1.8rem;
            height: 1.83;
          }
          margin-left:31px;
          position: relative;
          &::after{
            position: absolute;
            bottom: 2px;
            right:0;
            content:'';
            height: 2px;
            width: 100%;
            background: #fff;
            transform: scale(0,1);
            transform-origin: left top;
            transition: .3s;
          }
          &:hover{
            opacity: .5;
          }
          &:hover::after{
            transform: scale(1,1);
          }
        }
      }
    }
  }
}
@mixin hamburger-line($value) {
  display: block;
  width: 50%;
  height: 4px;
  background-color: $cGreen;
  position: absolute;
  top: $value - (4/2);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
}
.hamburger {
  width: 72px;
  height: 50px;
  background-color: #fff;
  position: relative;
  span {
    @include hamburger-line(25px);
    &::before {
      @include hamburger-line(-10px);
      content: '';
      width: 100%;
    }
    &::after {
      @include hamburger-line(14px);
      content: '';
      width: 100%;
    }
  }
  &.active{
    span{
      background: transparent;
      &::before{
        transform: translateX(-50%) translateY(12px) rotate(-45deg);
      }
      &::after{
        transform: translateX(-50%) translateY(-12px) rotate(45deg);
      }
    }
  }
}
.hamburger-menu{
  display: none;
  position: absolute;
  right: 0;
  top:50px;
  z-index: 99;
  nav{
    width:100%;
    min-width:300px;
    ul{
      li{
        background-color:$cGreen;
        &:hover{
          background-color: #000;
        }
        a{
          display: inline-block;
          width:100%;
          padding: {
            top:15px;
            bottom:10px;
            left:20px;
          }
          color:#fff;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 1.82;
        }
      }
    }
  }
}
.hamburger-bg.active{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
}

// top
#top{
  position: relative;
}
.top-message{
  color: #fff;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top:35%;
  left:51.1%;
  transform: translateX(-50%);
  line-height: 2;
  letter-spacing: 0.3em;
  width: 100%;
  text-shadow: 5px 5px 5px #000;
  z-index: 0;
  @include mq(md){
    top:41.3%;
    left:50.7%;
    font: {
      size:4rem;
      weight:600;
    }
    line-height: 1.75;
  }
}
.slider{
  div
  {
    background-position: top;
    background-size: cover;
    height: 601px;
    @include mq(md){
      height: 800px;
    }
    .fv01{
      background-image: url(../images/SP_FirstView-1.png);
      background-image: image-set(url(../images/SP_FirstView-1.png) 1x, url(../images/SP_FirstView-1@2x.png) 2x);
      @include mq(md){
        background-image: url(../images/FirstView_01.png);
        background-image: image-set(url(../images/FirstView_01.png) 1x, url(../images/FirstView_01@2x.png) 2x);
      }
    }
    .fv02{
      background-image: url(../images/SP_FirstView-2.png);
      background-image: image-set(url(../images/SP_FirstView-2.png) 1x, url(../images/SP_FirstView-2@2x.png) 2x);
      @include mq(md){
        background-image: url(../images/FirstView02.png);
        background-image: image-set(url(../images/FirstView02.png) 1x, url(../images/FirstView02@2x.png) 2x);
      }
    }
    .fv03{
      background-image: url(../images/SP_FirstView-3.png);
      background-image: image-set(url(../images/SP_FirstView-3.png) 1x, url(../images/SP_FirstView-3@2x.png) 2x);
      @include mq(md){
        background-image: url(../images/FirstView-3.png);
        background-image: image-set(url(../images/FirstView03.png) 1x, url(../images/FirstView03@2x.png) 2x);
      }
    }
  }
}
// about
#about{
  background-image: url(../images/SP_About.png);
  background-image: image-set(url(../images/SP_About.png) 1x, url(../images/SP_About@2x.png) 2x);
  @include mq(md){
    background-image: url(../images/About.png);
    background-image: image-set(url(../images/About.png) 1x, url(../images/About@2x.png) 2x);
  }
  background: {
    size: cover;
    position: right;
  }
  width: 100%;
  height: 584px;
  @include mq(md){
    width:100%;
    height: 500px;
    background-position: top;
  }
}
.about{
  &-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;
    @include mq(md){
      flex-direction: row-reverse;
      row-gap: 0;
      column-gap: 41px;
      padding-top: 112px;
    }
  }
  &-heading{
    margin-top:50px;
    font: {
      size: 2.5rem;
      weight: 200;
    }
    line-height: 1.2;
    letter-spacing: 0.2em;
    @include mq(md){
      margin-right: 438px;
      margin-top: 0;
      font-size: 3rem;
      line-height: 1.17;
      letter-spacing: 0.17em;
    }
  }
  &-message{
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.65;
    letter-spacing: 0.2em;
    @include mq(md){
      font-size: 1.8rem;
      line-height: 2.65;
      letter-spacing: 0.4em;
    }
  }
}
// service
