@import '_breakpoint';
@import '_mixin';

$cGreen: #4d9600;

html {
  font-family: "游明朝体", "Yu Mincho", serif;
  font-size: 10px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}
.no-pc {
  display: block;
  @include mq(md) {
    display: none;
  }
}
.header-nav-display{
  display: none;
  @include mq(xl){
    display: block;
  }
}
.header-hamburger-display{
  display: block;
  @include mq(xl){
    display: none;
  }
}
.font-white{
  color: #fff;
}
.font-black{
  color: #000;
}
.wm-vl{
  writing-mode: vertical-rl;
}
.bg-light-green{
  background-color: rgba(77, 150, 0, .1);
}
.bg-green{
  background-color: $cGreen;
  color: #fff;
}
.section-title{
  color: $cGreen;
  font-size: 2.8rem;
  line-height: 1.1;
  letter-spacing: 0.35em;
  text-align: center;
  margin-left: 9.5px;
  @include mq(xl){
    margin-left: 10px;
  }
}
.section-sub-title{
  text-align: center;
  font: {
    size: 2rem;
    weight: 200;
  }
  letter-spacing:0.3em;
  margin: {
    top: 4px;
    left: 5px;
  }
  line-height: 1.65;
}
.wrapper{
  padding: 0 30px;
  margin: 0 auto;
  @include mq(md){
    max-width: 1080px;
    padding:0 50px;
  }
}
// スクロールフェードイン
.scrollanime {
  opacity: 0;
}
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeInDown {
  0% {
      opacity: 0;         
  }
  100% {
  opacity: 1;
  transform: translate(0);
  }
}
.to-top{
  display:none;
  position: fixed;
  right: 60px;
  bottom:60px;
  background-color: $cGreen;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  cursor: pointer;
}
.arrow{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  width: 25px;
  height: 25px;
  border: {
    top: 5px solid #fff;
    right: 5px solid #fff;
  }
}
// header
header {
  position:fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width:100%;
  #site-title {
    margin-top: 12px;
    font-size: 2rem;
    line-height: 1.65;
    @include mq(xl){
      margin-top: 24px;
    }
  }
}
.header-wrapper{
  padding-left:20px;
  @include mq(ll){
    padding: {
      left:5%;
      right:0;
    } 
  }
  @include mq(xl){
    padding : {
      left: 80px;
      right:88px;
    }
  }
}
.header-menu{
  margin-top: 25.5px;
  nav{
    ul{
      display: flex;
      li{
        a{
          display: inline-block;
          font: {
            size: 1.8rem;
            height: 1.83;
          }
          margin-left:31px;
          position: relative;
          &::after{
            position: absolute;
            bottom: 2px;
            right:0;
            content:'';
            height: 2px;
            width: 100%;
            transform: scale(0,1);
            transform-origin: left top;
            transition: .3s;
          }
          .font-white + &::after{
            background: #fff;
          }
          .font-black + &::after{
            background: #000;
          }
          &:hover{
            opacity: .5;
          }
          &:hover::after{
            transform: scale(1,1);
          }
        }
      }
    }
  }
}
@mixin hamburger-line($value) {
  display: block;
  width: 50%;
  height: 4px;
  background-color: $cGreen;
  position: absolute;
  top: $value - (4/2);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
}
.hamburger {
  width: 72px;
  height: 50px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  span {
    @include hamburger-line(25px);
    &::before {
      @include hamburger-line(-10px);
      content: '';
      width: 100%;
    }
    &::after {
      @include hamburger-line(14px);
      content: '';
      width: 100%;
    }
  }
  &.active{
    span{
      background: transparent;
      &::before{
        transform: translateX(-50%) translateY(12px) rotate(-45deg);
      }
      &::after{
        transform: translateX(-50%) translateY(-12px) rotate(45deg);
      }
    }
  }
}
.hamburger-menu{
  display: none;
  position: absolute;
  right: 0;
  top:50px;
  z-index: 99;
  nav{
    width:100%;
    min-width:300px;
    ul{
      li{
        background-color:$cGreen;
        &:hover{
          background-color: #000;
        }
        a{
          display: inline-block;
          width:100%;
          padding: {
            top:15px;
            bottom:10px;
            left:20px;
          }
          color:#fff;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 1.82;
        }
      }
    }
  }
}
.hamburger-bg.active{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
}

// top
#top{
  position: relative;
}
.top-message{
  color: #fff;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top:35%;
  left:50.7%;
  transform: translateX(-50%);
  line-height: 2;
  letter-spacing: 0.3em;
  width: 100%;
  text-shadow: 5px 5px 5px #000;
  z-index: 0;
  width: 90%;
  @include mq(md){
    top:41.3%;
    left:50.7%;
    font: {
      size:4rem;
      weight:600;
    }
    line-height: 1.75;
  }
}
.slider{
  &::after{
    content:'';
    background-color: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  div
  {
    background-position: top;
    background-size: cover;
    height: 601px;
    @include mq(md){
      height: 800px;
    }
    .fv01{
      background-image: url(../images/SP_FirstView-1.png);
      background-image: image-set(url(../images/SP_FirstView-1.png) 1x, url(../images/SP_FirstView-1@2x.png) 2x);
      @include mq(md){
        background-image: url(../images/FirstView_01.png);
        background-image: image-set(url(../images/FirstView_01.png) 1x, url(../images/FirstView_01@2x.png) 2x);
      }
    }
    .fv02{
      background-image: url(../images/SP_FirstView-2.png);
      background-image: image-set(url(../images/SP_FirstView-2.png) 1x, url(../images/SP_FirstView-2@2x.png) 2x);
      @include mq(md){
        background-image: url(../images/FirstView02.png);
        background-image: image-set(url(../images/FirstView02.png) 1x, url(../images/FirstView02@2x.png) 2x);
      }
    }
    .fv03{
      background-image: url(../images/SP_FirstView-3.png);
      background-image: image-set(url(../images/SP_FirstView-3.png) 1x, url(../images/SP_FirstView-3@2x.png) 2x);
      @include mq(md){
        background-image: url(../images/FirstView-3.png);
        background-image: image-set(url(../images/FirstView03.png) 1x, url(../images/FirstView03@2x.png) 2x);
      }
    }
  }
}
// about
#about{
  background-image: url(../images/SP_About.png);
  background-image: image-set(url(../images/SP_About.png) 1x, url(../images/SP_About@2x.png) 2x);
  @include mq(md){
    background-image: url(../images/About.png);
    background-image: image-set(url(../images/About.png) 1x, url(../images/About@2x.png) 2x);
  }
  background: {
    size: cover;
    position: right;
  }
  width: 100%;
  height: 584px;
  @include mq(md){
    width:100%;
    height: 500px;
    background-position: top;
  }
}
.about{
  &-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;
    @include mq(md){
      flex-direction: row-reverse;
      row-gap: 0;
      column-gap: 41px;
      padding-top: 112px;
      margin-left: 150px;
    }
  }
  &-heading{
    margin-top:50px;
    font: {
      size: 2.5rem;
      weight: 200;
    }
    line-height: 1.2;
    letter-spacing: 0.2em;
    @include mq(md){
      margin-right: 10%;
      margin-top: 0;
      font-size: 3rem;
      line-height: 1.17;
      letter-spacing: 0.17em;
    }
    @include mq(ll){
      margin-right: 40%;
    }
    @include mq(xl){
      margin-right: 385px;
    }
  }
  &-message{
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.65;
    letter-spacing: 0.2em;
    @include mq(md){
      font-size: 1.8rem;
      line-height: 2.65;
      letter-spacing: 0.4em;
    }
  }
}

// service
#service{
  padding: 50px 0;
  @include mq(xl){
    padding: 77px 0;
    height: 1615px;
  }
}
.service{
  width:100%;
  &:first-of-type{
    margin-top: 43px;
  }
  &:not(:first-of-type){
    margin-top:50px;
  }
  &-img{
    &-obj{
      width: 100%;
      height: auto;
    }
    &-title{
      font-size: 1.6rem;
      margin-top: 7px;
    }
  }
  &-description{
    padding: {
      top:4px;
      left:20px;
      right: 20px;
      bottom:16px;
    }
    margin-top: 6px;
    &-heading{
      margin-top: 14px;
      font-size: 2rem;
      line-height:1.35;
      font-weight: 600;
    }
    &-detail{
      margin-top: 9.5px;
      font-size: 1.6rem;
      line-height: 1.5625;
    }
  }
}
@include mq(xl){
  .service{
    position: relative;
    display: flex;
    padding-left: 29px;
    padding-top: 80px;
    &:first-of-type{
      margin-top: 0;
    }
    &:not(:first-of-type){
      margin-top:53px;
    }
    &-img{
      width:100%;
      max-width: 600px;
      z-index: 1;
      &-obj{
        height: auto;
      }
      &-title{
        font-size: 1.6rem;
        margin-top: 19px;
      }
    }
    &-description{
      position:absolute;
      // top:139px;
      top: 222px;
      left: 450px;
      width: 100%;
      max-width: 500px;
      padding: {
        top:34px;
        bottom:47px;
        left:220px;
        right: 0;
      }
      font-weight: 600;
      &-heading{
        font-size: 2.5rem;
        line-height: 1.4;
      }
      &-detail{
        font-size: 1.6rem;
        line-height: 1.5625;
        margin-top: 14px;
      }
    }
    &:nth-child(odd){
      flex-direction: row-reverse;
      // padding-right: 14px;
      padding-right: 31px;
      .service-img-title{
        text-align: right;
      }
      .service-description{
        left:30px;
        padding-left:40px;
        padding-right: 185px;
      }
    }
  }
}
// works
#works{
  padding: {
    top: 45px;
    bottom:50px;
  }
  @include mq(xl){
    padding-top:80px;
    padding-bottom: 73px;
  }
}
.works{
  margin-top: 46px;
  @include mq(ll){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 71px;
    padding: 0 30px;
  }
}
.work{
  cursor: pointer;
  &:not(:first-of-type){
    margin-top: 24px;
    @include mq(ll){
      margin-top: 0;
    }
  }
  &-img{
    width:100%;
    &-description{
      font-size: 1.6rem;
      line-height: 1.5625;
      font-weight: 200;
      margin-top: 5px;
      @include mq(ll){
        margin-top: 20px;
      }
    }
  }
}
.modal-area{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.modal-content{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width:90%;
  max-width: 450px;
  height: auto;
  max-height: 280px;
  padding: 15px {
    bottom:10px;
  };
  img{
    width:100%;
  }
}
.modal-img-description{
  font-size: 1.4rem;
  @include mq(md){
  font-size: 1.6rem;
}
  margin-top: 10px;
  margin-bottom: 15px;
}
.modal-bg{
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
}
.modal-cancel{
  position: absolute;
  top: -1px;
  right: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}
// news
#news{
  padding: 50px 0;
  @include mq(xl){
    padding: 80px 0;
  }
}
.news-content{
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  row-gap:45px;
  @include mq(ll){
    flex-direction: row;
    column-gap: 60px;
    padding: 0 30px;
    margin-top: 75px;
  }
  .news-content-info{
    background-color: #fff;
    @include mq(ll){
      width:50%;
    }
  }
  .news-content-blog{
    background-color: #fff;
    @include mq(ll){
      width:50%;
    }
  }
  .news-header{
    font-size: 2rem;
    padding: {
      top: 14px;
      bottom: 6px;
      left:20px;
    }
  }
  .news-row{
    color:#000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: {
      top:16px;
      bottom:17px;
    }
    border-bottom: 1px solid #55A500;
    width:87%;
    margin: 0 auto;
    @include mq(xl){
      width:90.9%;
    }
    .news-date{
      font-size: 1.6rem;
    }
    .news-text{
      font-size: 1.8rem;
      margin-left: 20px;
      line-height: 1.38;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include mq(ll){
        margin-left: 69px;
      }
    }
  }
  .first-row{
    padding-top: 27px;
  }
  .news-footer{
    position: relative;
    height: 74px;
    display: block;
    &:hover{
      animation: swing 1.5s infinite;
    }
    p{
      position: absolute;
      bottom:31px;
      right: 55px;
      color: #55A500;
      font-size: 2rem;
    }
    img{
      position: absolute;
      bottom:22px;
      right: 20px;
    }
  }
  @keyframes swing {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-20px);
    }
    60% {
      transform: translateX(10px);
    }
    90% {
      transform: 0;
    }
  }
}

// company
#company{
  padding: 50px 0;
  @include mq(xl){
    padding: 80px 0;
    height: 765px;
  }
}
.company-contents{
  margin-top: 44px;
  @include mq(xl){
    display: flex;
    position: relative;
    margin-top: 70px;
    margin-left: 32px;
  }
}
.access-map {
  min-height: 300px;
  position: relative;
  @include mq(xl){
    width: 600px;
    height: 400px;
    z-index: 2;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.company-description{
  margin-top: 20px;
  padding: 20px{
    top: 11px;
    bottom: 16px;
  };
  @include mq(xl){
    position: absolute;
    top: 181px;
    left: 418px;
    width: 500px;
    padding: {
      top: 23px;
      bottom: 45px;
      left: 220px;
    }
    // z-index: -1;
    z-index: 1;
  }
}
.company{
  &-name{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.75;
    @include mq(xl){
      margin-top: 22px;
    }
  }
  &-address{
    font-size:1.6rem;
    font-weight: 600;
    line-height: 1.5625;
    margin-top: 8px;
    @include mq(xl){
      margin-top: 7px;
    }
  }
  &-phone-number{
    margin-top: 11px;
    font-size: 1.6rem;
    @include mq(xl){
      margin-top: 10px;
    }
  }
  &-email{
    margin-top: 8px;
    font-size: 1.6rem;
    letter-spacing: 0.015em;
    @include mq(xl){
      margin-top: 8px;
    }
  }
}
.strong{
  font-size: 2.5rem;
  font-weight: 600;
}
// contact
#contact{
  padding: 50px 0;
  @include mq(ll){
    padding: 80px 0;
  }
}
.contact-description{
  margin-top: 33px;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1.65;
  @include mq(ll){
    margin-top: 35px;
    padding: {
      left: 91px;
      right: 89px;
    }
  }
}
.contact-form{
  font-size: 2rem;
  @include mq(ll){
    padding: {
      left: 91px;
      right: 89px;
    }
  }
  .form-control{
    margin-top:40px;
    @include mq(ll){
      display: flex;
      column-gap: 23px;
    }
  }
  .input-width{
    width:100%;
    @include mq(ll){
      width: 70%;
    }
    @include mq(xl){
      width: 663px;
    }
  }
  .form-control-name{
    margin-top:40px;
    @include mq(ll){
      margin-top: 74px;
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
    label{
      margin-bottom: 6px;
      @include mq(ll){
        margin-top: 7px;
      }
    }
    input[type=text]{
      font-size: 1.5rem;
      padding: {
        top: 14px;
        bottom: 13px;
      }
      letter-spacing: 0.05em;
      @include mq(ll){
        padding: 12px 0{
          left: 20px;
        }
        letter-spacing: 0.1em;
      }
    }
  }
  .form-control-sex{
    display: flex;
    margin-top: 36px;
    column-gap: 40px;
    @media screen and (max-width: 374px){
      column-gap:20px;
    }
    @include mq(ll){
      align-items: flex-start;
      margin-top: 50px;
      column-gap: 0px;
    }
  .radio-form{
    display: flex;
    align-items: center;
    column-gap: 21px;
    @include mq(ll){
      margin-left: 5px;
      margin-top: -4px;
      column-gap: 0px;
    }
    label{
      font-size: 1.7rem;
      padding-left: 50px;
      position:relative;
      @include mq(ll){
        width: 148px;
        line-height: 1.84;
      }
      // ボタンパーツ
      &::before,&::after{
        // ボタンパーツ
        content:'';
        display: block;
        border-radius: 50%;
        position:absolute;
        top:50%;
        transform: translateY(-50%)
      }
      &::before{
        background-color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        left: 10px;
      }
      &::after{
        background-color: #000;
        border-radius: 50%;
        opacity: 0;
        width: 5px;
        height: 5px;
        left:17px;
      }
    }
    input:checked + label::after{
      opacity: 1;
    }
  }
  }
  .form-control-email{
    margin-top:18px;
    @include mq(ll){
      display: flex;
      column-gap: 23px;
      margin-top: 41px;
      align-items: center;
    }
    label{
      @include mq(ll){
        letter-spacing: -0.05em;
      }
    }
    input[type=email]{
      background-color: #fff;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 18px;
      font-size: 1.7rem;
      // width: 100%;
      @include mq(ll){
        padding: 12px 0{
          left: 17px;
        }
        letter-spacing: 0.05em;
        // width: 663px;
        font-size: 1.5rem;
        margin-top: -6px;
      }
    }
  }
  .form-control-type{
    margin-top:36px;
    @include mq(ll){
      display: flex;
      column-gap: 23px;
      margin-top: 58px;
      align-items: center;
    }
    select{
      background-color: #fff;
      background: {
        image:url(../images/triangle.svg);
        position: right 18px top 50%;
      }
      padding: 13px 0{
        left: 20px;
      }
      // width:100%;
      font-size: 1.6rem;
      @include mq(ll){
        padding: 19px 0{
          left: 17px;
        }
        // width: 663px;
        font-size: 1.8rem;
        margin-top: -6px;
        background-position: right 21px top 50%;
      }
    }
  }
  .form-control-textarea{
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    @include mq(ll){
      row-gap: 0;
    }
    label{
      margin-bottom:1px;
    }
    textarea{
      margin-top: 5px;
      @include mq(ll){
        margin-top: 12px
      }
    }
  }
  .form-control-checkbox{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    @include mq(ll){
      margin-top: 49px;
    }
    input[type=checkbox]{
      display: none;
    }
    .checkbox{
      &-form{
        font-size: 1.6rem;
        @media screen and (max-width:374px) {
           font-size: 1.4rem; 
        }
        line-height: 1.8;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1px;
        @include mq(ll){
          line-height: 2.0625;
          margin-top: 2px;
          row-gap: 3px;
        }
      }
      &-control{
        display: flex;
        align-items: center;
        column-gap: 17px;
        row-gap: 10px;
        width:50%;
        @include mq(ll){
          width: 25%;
          font-size: 1.5rem;
        }
        @include mq(xl){
          font-size: 1.8rem;
        }
        label{
          margin-bottom: 0;
          display: block;
          width:100%;
          padding-left: 30px;
          position: relative;
          margin-top: 1.8px;
          @include mq(ll){
            padding-left: 40px;
          }
          &::before,&::after{
            position: absolute;
            content:'';
          }
          &::after{
            top:50%;
            transform: translateY(-50%);
            left: 0;
            width: 20px;
            height: 20px;
            background-color: #fff;
          }
          &::before{
            border: {
              bottom:2px solid #000;
              left:2px solid #000;
            }
            height: 9px;
            width: 15px;
            transform: rotate(-45deg);
            top: 30%;
            left: 3px;
            z-index: 1;
            opacity: 0;
          }
        }
        input:checked + label::before{
          opacity: 1;
        }
      }
    }
  }
  .form-control-protection{
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    @include mq(ll){
      margin-top: 36px;
    }
  }
  input[type=text]{
    background-color: #fff;
    padding: {
      top: 17px;
      left: 20px;
      bottom: 17px;
    }
  }
  input[type=radio]{
   margin-left: 30px; 
  }
  label{
    display: block;
    margin-bottom: 10px;
    @include mq(ll){
      display: inline-block;
      width: 158px;
    }
  }
  .question-lbl{
    width:100%;
    margin-bottom: 0;
    line-height: 1.35;
  }
  .protection-lbl{
    width: 100%;
    margin-bottom: 2px;
    @include mq(ll){
      width: 100%;
    }
  }
}
  textarea{
    background-color: #fff;
    width: 100%;
    height:200px;
    padding: {
      top: 17px;
      left: 20px;
      bottom: 17px;
    }
  }
  // 個人情報保護方針
  .scroll-container{
    background-color: #fff;
    padding: {
      top: 26px;
      bottom: 30px;
      left: 30px;
      right: 10px;
    }
    @include mq(ll){
      margin-top: 12px;
      padding-top: 9px;
      padding-left: 40px;
      padding-right: 10px;
      letter-spacing: -0.05em;
    }
  }
  .personal-information-protection{
    padding-right: 30px;
    height: 262px;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width:10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #9B9B9B;
      height: 30px;
    }
    &::-webkit-scrollbar-track-piece {
      padding:100px 0;
    }
    @include mq(ll){
      padding-top: 25px;
      padding-right: 45px;
    }
    h3{
      font-weight: 200;
      font-size: 1.8rem;
      line-height: 1.7;
      @include mq(ll){
        font-size: 1.9rem;
        line-height: 1.6;
      }
      &:not(:first-of-type){
        margin-top: 6px;
        @include mq(ll){
          margin-top: 1px;
        }
      }
    }
    p{
      font-size: 1.6rem;
      margin-top: 5px;
      line-height: 1.85;
        @include mq(ll){
        font-size: 1.8rem;
        line-height: 1.9;
        font-size: 1.7rem;
      }
    }
  }
.btn{
  width: 100%;
  margin-top: 42.5px;
  padding:10px 68px;
  cursor: pointer;
  @media screen and (max-width:374px) {
    padding:10px 0;
  }
  transition: .5s;
  @include mq(ll){
    width:100%;
    max-width: 300px;
    display: block;
    margin: {
      top:78px;
      left: auto;
      right: auto;
    }
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
  }
  &:hover{
    border: solid 1px $cGreen;
    background-color: #fff;
    color: $cGreen;
  }
}

.visually-hidden {
  /* コンテンツの流れから切り離す */
  position: absolute;
  /* 誤ったコードに対処するための回避策 */
  white-space: nowrap;
  /* 可能な限り文字サイズを小さくするための処理
   * (スクリーンリーダー中には height と width が 0 のものを無視するため)
   */
  width: 1px;
  height: 1px;
  /* オーバーフローしているコンテンツを隠す */
  overflow: hidden;
  /* 要素サイズを変更しうるプロパティのリセット */
  border: 0;
  padding: 0;
  /* 要素のどの部分が表示されるかを定義するもの */
  /* 古いブラウザでは使用できない */
  clip: rect(0 0 0 0);
  /* 最近のブラウザ用
   * コンテンツを非表示にする設定  */
  clip-path: inset(50%); 
  /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
   * それに加えていくつか問題もあるそうです 
   * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
   */
  margin: -1px;
}

// footer
footer{
  .footer-wrapper{
    padding: 0 7.4%;
    max-width: 1080px;
    margin: 0 auto;
    @include mq(ll){
      padding: {
        left:141px;
        right:139px;
      }
    }
    @include mq(xl){
      padding: {
        left: 175px;
        right: 176px;
      }
    }
  }
  .company-name{
    font-size: 2rem;
    font-weight: 200;
    width:100%;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
    @include mq(ll){
      margin-top: 75px;
      padding-bottom: 31px;
    }
  }
  .footer-menu{
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 25px;
    @include mq(ll){
      margin-top: 25px;
      padding: 0 10px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 11px;
      @include mq(ll){
        justify-content: space-between;
      }
      li{
        a{
          display: inline-block;
          width:100%;
          &:hover{
            opacity: .5;
            transition: .3s;
          }
        }
      }
    }
  }
  .sns-icon-list{
    width:100%;
    max-width: 200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    @include mq(ll){
      margin-top: 40px;
    }
  }
  .footer-flex{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    @include mq(ll){
      flex-direction: row;
      justify-content: center;
      column-gap: 20px;
    }
  }
  .copy-right{
    margin-top: 44px;
    font-size: 2rem;
    text-align: center;
    padding: {
      top:19px;
      right:30px;
      bottom:23px;
      left:24px;
    }
    @include mq(ll){
      padding: 0{
        top:31px;
        bottom:34px;
      }
      margin-top: 71px;
    }
  }
}